{
  "openapi": "3.1.0",
  "info": {
    "title": "sandbox",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://service-sandbox.tazapay.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/v3/payin": {
      "post": {
        "summary": "Create a payin",
        "description": "Creates a payin object.",
        "operationId": "create-payin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "invoice_currency",
                  "amount",
                  "transaction_description"
                ],
                "properties": {
                  "invoice_currency": {
                    "type": "string",
                    "description": "Invoice currency for the checkout session (in uppercase, iso-4217 standard). By default, the invoice currency is the holding currency for the transaction.",
                    "default": ""
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount in cents. For example if you want to charge $10.12 pass 1012 as the value. For decimal handling for various currencies, refer to <a href=\"https://docs.tazapay.com/docs/decimal-currencies\" target=\"_blank\"> the guide here</a>",
                    "format": "int32",
                    "default": ""
                  },
                  "customer_details": {
                    "type": "object",
                    "description": "Details about the customer",
                    "required": [
                      "name",
                      "email",
                      "country"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the customer",
                        "default": ""
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address of the entity",
                        "default": ""
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166 standard alpha-2 code. eg: SG, IN, US, etc.",
                        "default": ""
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      }
                    }
                  },
                  "customer": {
                    "type": "string",
                    "description": "ID of the customer for the checkout session"
                  },
                  "success_url": {
                    "type": "string",
                    "description": "URL where the customer is directed to after a successful payment"
                  },
                  "cancel_url": {
                    "type": "string",
                    "description": "The URL the customer will be directed to if they decide to cancel payment and return to your website."
                  },
                  "transaction_description": {
                    "type": "string",
                    "description": "A short description to be displayed on the Tazapay hosted checkout screen",
                    "default": ""
                  },
                  "shipping_details": {
                    "type": "object",
                    "description": "Shipping Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "billing_details": {
                    "type": "object",
                    "description": "Billing Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "transaction_documents": {
                    "type": "string",
                    "description": "Supporting documents for the transaction",
                    "format": "json"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Set of key-value pairs that can be attached to the checkout session",
                    "format": "json"
                  },
                  "reference_id": {
                    "type": "string",
                    "description": "Your unique identifier for the session"
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Set to `true` to confirm this payin immediately. The parameter defaults to `false`. When creating and confirming a payin at the same time, you can also provide the parameters in the confirm API",
                    "default": false
                  },
                  "statement_descriptor": {
                    "type": "string",
                    "description": "Configure the description of the payment on your customer's statements. It must contain at least one letter and be 1-22 characters long"
                  },
                  "payment_method_details": {
                    "type": "string",
                    "description": "Pass the data specific to a payment method to confirm a payin and create a payment attempt",
                    "format": "json"
                  },
                  "session_id": {
                    "type": "string",
                    "description": "Session ID retrieved from the <a href=\"https://docs.tazapay.com/reference/integrate-with-risk-sdk\"> risk SDK</a>"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "invoice_currency": "INR",
                    "amount": 100,
                    "customer_details": {
                      "name": "Andrea Lark",
                      "country": "SG",
                      "email": "andrea@example.com",
                      "phone": {
                        "calling_code": "65",
                        "number": "87654321"
                      }
                    },
                    "billing_details": {
                      "address": {
                        "city": "Singapore",
                        "country": "SG",
                        "line1": "1st Street",
                        "line2": "2nd Avenue",
                        "postal_code": "43004",
                        "state": "Singapore"
                      },
                      "label": "Home",
                      "name": "Andrea Lark",
                      "phone": {
                        "calling_code": "65",
                        "number": "87654321"
                      }
                    },
                    "shipping_details": {
                      "address": {
                        "city": "Singapore",
                        "country": "SG",
                        "line1": "1st Street",
                        "line2": "2nd Avenue",
                        "postal_code": "43004",
                        "state": "Singapore"
                      },
                      "label": "Home",
                      "name": "Andrea Lark",
                      "phone": {
                        "calling_code": "65",
                        "number": "87654321"
                      }
                    },
                    "success_url": "https://mystore.com/success_page",
                    "cancel_url": "https://mystore.com/try_again",
                    "webhook_url": "https://mystore.com/internal/webhook",
                    "payment_methods": [
                      "paynow_sgd",
                      "card"
                    ],
                    "transaction_description": "test",
                    "metadata": {
                      "key1": "value1",
                      "key2": "value2",
                      "key3": "value3"
                    },
                    "reference_id": "string",
                    "confirm": false,
                    "statement_descriptor": "string",
                    "payment_method_details": {
                      "key": "value"
                    },
                    "session_id": "test_session_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "success",
                      "message": "",
                      "data": {
                        "amount": 100,
                        "amount_paid": 0,
                        "billing_details": {
                          "address": {
                            "city": "Singapore",
                            "country": "SG",
                            "line1": "1st Street",
                            "line2": "2nd Avenue",
                            "postal_code": "43004",
                            "state": "Singapore"
                          },
                          "label": "Home",
                          "name": "Andrea Lark",
                          "phone": {
                            "calling_code": "65",
                            "number": "87654321"
                          }
                        },
                        "cancel_url": "https://mystore.com/try_again",
                        "cancelled_at": null,
                        "client_token": "ZRjM4ROfY6SPjTaQkz00OszWUcVvMA8KhStkPAoamPQ=",
                        "confirm": false,
                        "created_at": "2024-10-01T10:08:30.666381739Z",
                        "customer": "cus_crtqrhth90j0121gpt50",
                        "customer_details": {
                          "country": "SG",
                          "email": "andrea@example.com",
                          "name": "Andrea Lark",
                          "phone": {
                            "calling_code": "65",
                            "number": "87654321"
                          }
                        },
                        "form": "",
                        "holding_currency": "INR",
                        "id": "pay_crtsk7i6avg0t9ndc7l0",
                        "invoice_currency": "INR",
                        "items": [],
                        "latest_payment_attempt": "",
                        "latest_payment_attempt_data": null,
                        "metadata": {
                          "key1": "value1",
                          "key2": "value2",
                          "key3": "value3"
                        },
                        "object": "payin",
                        "paid_in_excess": false,
                        "partially_paid": false,
                        "payment_attempts": [],
                        "payment_method_details": {
                          "key": "value"
                        },
                        "reference_id": "string",
                        "shipping_details": {
                          "address": {
                            "city": "Singapore",
                            "country": "SG",
                            "line1": "1st Street",
                            "line2": "2nd Avenue",
                            "postal_code": "43004",
                            "state": "Singapore"
                          },
                          "label": "Home",
                          "name": "Andrea Lark",
                          "phone": {
                            "calling_code": "65",
                            "number": "87654321"
                          }
                        },
                        "statement_descriptor": "tzp*string",
                        "status": "requires_payment_method",
                        "status_description": "",
                        "success_url": "https://mystore.com/success_page",
                        "transaction_data": [],
                        "transaction_description": "test",
                        "transaction_documents": [],
                        "webhook_url": "https://mystore.com/internal/webhook"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Indicates whether the payin creation request succeeded.",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message or additional context regarding the payin request.",
                      "example": ""
                    },
                    "data": {
                      "type": "object",
                      "description": "Contains detailed information about the created payin.",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "description": "Total amount of the payin in cents.",
                          "example": 100
                        },
                        "amount_paid": {
                          "type": "integer",
                          "description": "Amount already paid by the customer toward this payin.",
                          "example": 0
                        },
                        "billing_details": {
                          "type": "object",
                          "description": "Billing information of the customer for the payin.",
                          "properties": {
                            "address": {
                              "type": "object",
                              "description": "Billing address details.",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "description": "City of the billing address.",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "Country code of the billing address (ISO 3166-1 alpha-2).",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "description": "First line of the street address.",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "description": "Second line of the street address (optional).",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "description": "Postal or ZIP code of the billing address.",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "description": "State, province, or region of the billing address.",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "description": "Label identifying the billing address (e.g., Home or Office).",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the billing contact person.",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "description": "Phone contact details for the billing address.",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "description": "International calling code of the phone number.",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "Local phone number of the billing contact.",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "cancel_url": {
                          "type": "string",
                          "description": "URL to which the customer is redirected if they cancel the payment process.",
                          "example": "https://mystore.com/try_again"
                        },
                        "cancelled_at": {
                          "type": "string",
                          "description": "Timestamp when the payin was cancelled, if applicable.",
                          "example": null
                        },
                        "client_token": {
                          "type": "string",
                          "description": "Client authentication token used to confirm or validate this payin session.",
                          "example": "ZRjM4ROfY6SPjTaQkz00OszWUcVvMA8KhStkPAoamPQ="
                        },
                        "confirm": {
                          "type": "boolean",
                          "description": "Indicates whether this payin requires explicit confirmation from the client before processing.",
                          "example": false
                        },
                        "created_at": {
                          "type": "string",
                          "description": "ISO 8601 timestamp marking when the payin was created.",
                          "example": "2024-10-01T10:08:30.666381739Z"
                        },
                        "customer": {
                          "type": "string",
                          "description": "Unique identifier of the customer associated with the payin.",
                          "example": "cus_crtqrhth90j0121gpt50"
                        },
                        "customer_details": {
                          "type": "object",
                          "description": "Information about the customer making the payin.",
                          "properties": {
                            "country": {
                              "type": "string",
                              "description": "Country code of the customer (ISO 3166-1 alpha-2).",
                              "example": "SG"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email address of the customer.",
                              "example": "andrea@example.com"
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the customer.",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "description": "Customer’s phone contact information.",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "description": "International calling code of the customer's phone number.",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "Local phone number of the customer.",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "holding_currency": {
                          "type": "string",
                          "description": "Currency used to hold the funds before conversion or settlement.",
                          "example": "INR"
                        },
                        "id": {
                          "type": "string",
                          "description": "Unique identifier assigned to this payin object.",
                          "example": "pay_crtsk7i6avg0t9ndc7l0"
                        },
                        "invoice_currency": {
                          "type": "string",
                          "description": "Currency of the associated invoice.",
                          "example": "INR"
                        },
                        "items": {
                          "type": "array",
                          "description": "List of items or line-items associated with this payin (if applicable).",
                          "example": []
                        },
                        "latest_payment_attempt": {
                          "type": "string",
                          "description": "Identifier of the most recent payment attempt related to this payin.",
                          "example": ""
                        },
                        "latest_payment_attempt_data": {
                          "type": "object",
                          "description": "Detailed data of the latest payment attempt if available.",
                          "example": null
                        },
                        "metadata": {
                          "type": "object",
                          "description": "Custom metadata key-value pairs attached to this payin for reference.",
                          "example": {
                            "key1": "value1",
                            "key2": "value2",
                            "key3": "value3"
                          }
                        },
                        "object": {
                          "type": "string",
                          "description": "Object type identifier; always 'payin' for this endpoint.",
                          "example": "payin"
                        },
                        "paid_in_excess": {
                          "type": "boolean",
                          "description": "Indicates whether an amount greater than the invoiced total was received.",
                          "example": false
                        },
                        "partially_paid": {
                          "type": "boolean",
                          "description": "Indicates whether the payin amount has been partially received.",
                          "example": false
                        },
                        "payment_attempts": {
                          "type": "array",
                          "description": "List of all payment attempts made for this payin.",
                          "example": []
                        },
                        "payment_method_details": {
                          "type": "object",
                          "description": "Information related to the selected payment method used by the payer.",
                          "example": {
                            "key": "value"
                          }
                        },
                        "reference_id": {
                          "type": "string",
                          "description": "External reference ID provided by the merchant for tracking purposes.",
                          "example": "string"
                        },
                        "shipping_details": {
                          "type": "object",
                          "description": "Shipping information of the customer for the payin.",
                          "properties": {
                            "address": {
                              "type": "object",
                              "description": "Shipping address details.",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "description": "City of the shipping address.",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "Country code of the shipping address (ISO 3166-1 alpha-2).",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "description": "First line of the shipping address.",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "description": "Second line of the shipping address (optional).",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "description": "Postal or ZIP code of the shipping address.",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "description": "State, province, or region of the shipping address.",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "description": "Label identifying the shipping address (e.g., Home or Office).",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the recipient at the shipping address.",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "description": "Contact phone details for shipping.",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "description": "International calling code of the phone number.",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "Local phone number of the recipient.",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "statement_descriptor": {
                          "type": "string",
                          "description": "Text that appears on the customer's payment statement.",
                          "example": "tzp*string"
                        },
                        "status": {
                          "type": "string",
                          "description": "Current status of the payin.",
                          "example": "requires_payment_method"
                        },
                        "status_description": {
                          "type": "string",
                          "description": "Additional descriptive text regarding the status.",
                          "example": ""
                        },
                        "success_url": {
                          "type": "string",
                          "description": "URL where the customer is redirected after successful payment completion.",
                          "example": "https://mystore.com/success_page"
                        },
                        "transaction_data": {
                          "type": "array",
                          "description": "List of transaction data entries associated with the payin.",
                          "example": []
                        },
                        "transaction_description": {
                          "type": "string",
                          "description": "Description or label for the transaction purpose.",
                          "example": "test"
                        },
                        "transaction_documents": {
                          "type": "array",
                          "description": "List of documents (like receipts or invoices) linked to the payin transaction.",
                          "example": []
                        },
                        "webhook_url": {
                          "type": "string",
                          "description": "Merchant webhook endpoint for asynchronous payin updates.",
                          "example": "https://mystore.com/internal/webhook"
                        },
                        "form": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "samples-languages": [
            "shell"
          ]
        }
      }
    },
    "/v3/payin/{id}/confirm": {
      "post": {
        "summary": "Confirm a payin",
        "description": "Attach a payment method to the payin and create an attempt",
        "operationId": "confirm-payin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the already created payin",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer_details",
                  "success_url",
                  "cancel_url",
                  "payment_method_details",
                  "session_id"
                ],
                "properties": {
                  "customer_details": {
                    "type": "object",
                    "description": "Details about the customer",
                    "required": [
                      "name",
                      "email",
                      "country"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the customer"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address of the entity"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166 standard alpha-2 code. eg: SG, IN, US, etc."
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      }
                    }
                  },
                  "customer": {
                    "type": "string",
                    "description": "ID of the customer for the checkout session"
                  },
                  "success_url": {
                    "type": "string",
                    "description": "URL where the customer is directed to after a successful payment"
                  },
                  "cancel_url": {
                    "type": "string",
                    "description": "The URL the customer will be directed to if they decide to cancel payment and return to your website."
                  },
                  "shipping_details": {
                    "type": "object",
                    "description": "Shipping Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "billing_details": {
                    "type": "object",
                    "description": "Billing Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "transaction_documents": {
                    "type": "string",
                    "description": "Supporting documents for the transaction",
                    "format": "json"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Set of key-value pairs that can be attached to the checkout session",
                    "format": "json"
                  },
                  "reference_id": {
                    "type": "string",
                    "description": "Your unique identifier for the session"
                  },
                  "statement_descriptor": {
                    "type": "string",
                    "description": "Configure the description of the payment on your customer's statements. It must contain at least one letter and be 1-22 characters long"
                  },
                  "payment_method_details": {
                    "type": "object",
                    "description": "Pass the data specific to a payment method to confirm a payin and create a payment attempt",
                    "properties": {}
                  },
                  "session_id": {
                    "type": "string",
                    "description": "Session ID retrieved from the <a href=\"https://docs.tazapay.com/reference/integrate-with-risk-sdk\"> risk SDK</a>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "success",
                      "message": "",
                      "data": {
                        "amount": 10000,
                        "amount_paid": 0,
                        "billing_details": {
                          "address": {
                            "city": "Singapore",
                            "country": "SG",
                            "line1": "1st Street",
                            "line2": "2nd Avenue",
                            "postal_code": "43004",
                            "state": "Singapore"
                          },
                          "label": "Home",
                          "name": "Andrea Lark",
                          "phone": {
                            "calling_code": "65",
                            "number": "87654321"
                          }
                        },
                        "cancel_url": "https://mystore.com/try_again",
                        "cancelled_at": null,
                        "client_token": "XAHf7IAsGkG64BlyjA6rwNDuKXfaWaH9nGshKkT0E-E=",
                        "confirm": true,
                        "created_at": "2025-09-15T12:51:42.580016Z",
                        "customer": "cus_d33vk9b1dta392s01fa0",
                        "customer_details": {
                          "country": "SG",
                          "email": "andrea.lark@me.com",
                          "name": "Andrea Lark",
                          "phone": {
                            "calling_code": "65",
                            "number": "87654321"
                          }
                        },
                        "form": "",
                        "holding_currency": "SGD",
                        "id": "pay_d340nnjk1kl59dv26bqg",
                        "invoice_currency": "SGD",
                        "items": [],
                        "latest_payment_attempt": "pat_d340nurk1kl59dv26cfg",
                        "latest_payment_attempt_data": {
                          "expires_at": "2025-09-15T12:54:11Z",
                          "qr_code": "YXNkMWZZVDM5UmdhVGF6YXBheWpza2d1MTNUUkZEMTIzNGFoc2dkakZHSDk5ODczSEdKSFNKS2Fzc3NpdWd1"
                        },
                        "metadata": null,
                        "object": "payin",
                        "paid_in_excess": false,
                        "partially_paid": false,
                        "payment_attempts": [],
                        "payment_method_details": {
                          "type": "paynow_sgd"
                        },
                        "redirect_url": "",
                        "reference_id": "",
                        "shipping_details": {
                          "address": {
                            "city": "Singapore",
                            "country": "SG",
                            "line1": "1st Street",
                            "line2": "2nd Avenue",
                            "postal_code": "43004",
                            "state": "Singapore"
                          },
                          "label": "Home",
                          "name": "Andrea Lark",
                          "phone": {
                            "calling_code": "65",
                            "number": "87654321"
                          }
                        },
                        "statement_descriptor": "tzp*yahu_traders",
                        "status": "requires_action",
                        "status_description": "",
                        "success_url": "https://mystore.com/success_page",
                        "transaction_data": [],
                        "transaction_description": "1 X Goods",
                        "transaction_documents": [],
                        "webhook_url": "https://webhook.site/ref8y92937922"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Indicates whether the payin creation request succeeded.",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message or additional context regarding the payin request.",
                      "example": ""
                    },
                    "data": {
                      "type": "object",
                      "description": "Contains detailed information about the created payin.",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "description": "Total amount of the payin in the smallest currency unit (e.g., cents).",
                          "example": 10000
                        },
                        "amount_paid": {
                          "type": "integer",
                          "description": "Amount already paid by the customer toward this payin.",
                          "example": 0
                        },
                        "billing_details": {
                          "type": "object",
                          "description": "Billing information of the customer for the payin.",
                          "properties": {
                            "address": {
                              "type": "object",
                              "description": "Billing address details.",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "description": "City of the billing address.",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "Country code of the billing address (ISO 3166-1 alpha-2).",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "description": "First line of the street address.",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "description": "Second line of the street address (optional).",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "description": "Postal or ZIP code of the billing address.",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "description": "State, province, or region of the billing address.",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "description": "Label identifying the billing address (e.g., Home or Office).",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the billing contact person.",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "description": "Phone contact details for the billing address.",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "description": "International calling code of the phone number.",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "Local phone number of the billing contact.",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "cancel_url": {
                          "type": "string",
                          "description": "URL to which the customer is redirected if they cancel the payment process.",
                          "example": "https://mystore.com/try_again"
                        },
                        "cancelled_at": {
                          "type": "string",
                          "description": "Timestamp when the payin was cancelled, if applicable.",
                          "example": null
                        },
                        "client_token": {
                          "type": "string",
                          "description": "Client authentication token used to confirm or validate this payin session.",
                          "example": "XAHf7IAsGkG64BlyjA6rwNDuKXfaWaH9nGshKkT0E-E="
                        },
                        "confirm": {
                          "type": "boolean",
                          "description": "Indicates whether this payin requires explicit confirmation from the client before processing.",
                          "example": true
                        },
                        "created_at": {
                          "type": "string",
                          "description": "ISO 8601 timestamp marking when the payin was created.",
                          "example": "2025-09-15T12:51:42.580016Z"
                        },
                        "customer": {
                          "type": "string",
                          "description": "Unique identifier of the customer associated with the payin.",
                          "example": "cus_d33vk9b1dta392s01fa0"
                        },
                        "customer_details": {
                          "type": "object",
                          "description": "Information about the customer making the payin.",
                          "properties": {
                            "country": {
                              "type": "string",
                              "description": "Country code of the customer (ISO 3166-1 alpha-2).",
                              "example": "SG"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email address of the customer.",
                              "example": "andrea.lark@me.com"
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the customer.",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "description": "Customer’s phone contact information.",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "description": "International calling code of the customer's phone number.",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "Local phone number of the customer.",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "form": {
                          "type": "string",
                          "description": "Indicates the hosted payment form URL, if available.",
                          "example": ""
                        },
                        "holding_currency": {
                          "type": "string",
                          "description": "Currency used to hold the funds before conversion or settlement.",
                          "example": "SGD"
                        },
                        "id": {
                          "type": "string",
                          "description": "Unique identifier assigned to this payin object.",
                          "example": "pay_d340nnjk1kl59dv26bqg"
                        },
                        "invoice_currency": {
                          "type": "string",
                          "description": "Currency of the associated invoice.",
                          "example": "SGD"
                        },
                        "items": {
                          "type": "array",
                          "description": "List of items or line-items associated with this payin (if applicable).",
                          "example": []
                        },
                        "latest_payment_attempt": {
                          "type": "string",
                          "description": "Identifier of the most recent payment attempt related to this payin.",
                          "example": "pat_d340nurk1kl59dv26cfg"
                        },
                        "latest_payment_attempt_data": {
                          "type": "object",
                          "description": "Detailed data of the latest payment attempt if available.",
                          "properties": {
                            "expires_at": {
                              "type": "string",
                              "description": "Timestamp at which this payment attempt expires.",
                              "example": "2025-09-15T12:54:11Z"
                            },
                            "qr_code": {
                              "type": "string",
                              "description": "Encoded QR code string used for PayNow or similar payment methods.",
                              "example": "YXNkMWZZVDM5UmdhVGF6YXBheWpza2d1MTNUUkZEMTIzNGFoc2dkakZHSDk5ODczSEdKSFNKS2Fzc3NpdWd1"
                            }
                          }
                        },
                        "metadata": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "description": "Custom metadata key-value pairs attached to this payin for reference.",
                          "example": null
                        },
                        "object": {
                          "type": "string",
                          "description": "Object type identifier; always 'payin' for this endpoint.",
                          "example": "payin"
                        },
                        "paid_in_excess": {
                          "type": "boolean",
                          "description": "Indicates whether an amount greater than the invoiced total was received.",
                          "example": false
                        },
                        "partially_paid": {
                          "type": "boolean",
                          "description": "Indicates whether the payin amount has been partially received.",
                          "example": false
                        },
                        "payment_attempts": {
                          "type": "array",
                          "description": "List of all payment attempts made for this payin.",
                          "example": []
                        },
                        "payment_method_details": {
                          "type": "object",
                          "description": "Information related to the selected payment method used by the payer.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "Type of payment method used for this payin.",
                              "example": "paynow_sgd"
                            }
                          }
                        },
                        "redirect_url": {
                          "type": "string",
                          "description": "URL to redirect the user for completing payment, if applicable.",
                          "example": ""
                        },
                        "reference_id": {
                          "type": "string",
                          "description": "External reference ID provided by the merchant for tracking purposes.",
                          "example": ""
                        },
                        "shipping_details": {
                          "type": "object",
                          "description": "Shipping information of the customer for the payin.",
                          "properties": {
                            "address": {
                              "type": "object",
                              "description": "Shipping address details.",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "description": "City of the shipping address.",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "Country code of the shipping address (ISO 3166-1 alpha-2).",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "description": "First line of the shipping address.",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "description": "Second line of the shipping address (optional).",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "description": "Postal or ZIP code of the shipping address.",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "description": "State, province, or region of the shipping address.",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "description": "Label identifying the shipping address (e.g., Home or Office).",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the recipient at the shipping address.",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "description": "Contact phone details for shipping.",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "description": "International calling code of the phone number.",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "Local phone number of the recipient.",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "statement_descriptor": {
                          "type": "string",
                          "description": "Text that appears on the customer's payment statement.",
                          "example": "tzp*yahu_traders"
                        },
                        "status": {
                          "type": "string",
                          "description": "Current status of the payin.",
                          "example": "requires_action"
                        },
                        "status_description": {
                          "type": "string",
                          "description": "Additional descriptive text regarding the status.",
                          "example": ""
                        },
                        "success_url": {
                          "type": "string",
                          "description": "URL where the customer is redirected after successful payment completion.",
                          "example": "https://mystore.com/success_page"
                        },
                        "transaction_data": {
                          "type": "array",
                          "description": "List of transaction data entries associated with the payin.",
                          "example": []
                        },
                        "transaction_description": {
                          "type": "string",
                          "description": "Description or label for the transaction purpose.",
                          "example": "1 X Goods"
                        },
                        "transaction_documents": {
                          "type": "array",
                          "description": "List of documents (like receipts or invoices) linked to the payin transaction.",
                          "example": []
                        },
                        "webhook_url": {
                          "type": "string",
                          "description": "Merchant webhook endpoint for asynchronous payin updates.",
                          "example": "https://webhook.site/ref8y92937922"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "samples-languages": [
            "shell"
          ]
        }
      }
    },
    "/v3/payin/{id}": {
      "put": {
        "summary": "Updating a payin",
        "description": "Update a payin without confirming",
        "operationId": "update-a-payin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the already created payin",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_details": {
                    "type": "object",
                    "description": "Details about the customer",
                    "required": [
                      "name",
                      "email",
                      "country"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the customer"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address of the entity"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166 standard alpha-2 code. eg: SG, IN, US, etc."
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      }
                    }
                  },
                  "customer": {
                    "type": "string",
                    "description": "ID of the customer for the checkout session"
                  },
                  "success_url": {
                    "type": "string",
                    "description": "URL where the customer is directed to after a successful payment"
                  },
                  "cancel_url": {
                    "type": "string",
                    "description": "The URL the customer will be directed to if they decide to cancel payment and return to your website."
                  },
                  "shipping_details": {
                    "type": "object",
                    "description": "Shipping Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "billing_details": {
                    "type": "object",
                    "description": "Billing Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "transaction_documents": {
                    "type": "string",
                    "description": "Supporting documents for the transaction",
                    "format": "json"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Set of key-value pairs that can be attached to the checkout session",
                    "format": "json"
                  },
                  "reference_id": {
                    "type": "string",
                    "description": "Your unique identifier for the session"
                  },
                  "statement_descriptor": {
                    "type": "string",
                    "description": "Configure the description of the payment on your customer's statements. It must contain at least one letter and be 1-22 characters long"
                  },
                  "payment_method_details": {
                    "type": "string",
                    "description": "Pass the data specific to a payment method to confirm a payin and create a payment attempt",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "metadata": {
                      "key1": "value1"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "success",
                      "message": "",
                      "data": {
                        "amount": 100,
                        "amount_paid": 0,
                        "billing_details": {
                          "address": {
                            "city": "Singapore",
                            "country": "SG",
                            "line1": "1st Street",
                            "line2": "2nd Avenue",
                            "postal_code": "43004",
                            "state": "Singapore"
                          },
                          "label": "Home",
                          "name": "Andrea Lark",
                          "phone": {
                            "calling_code": "65",
                            "number": "87654321"
                          }
                        },
                        "cancel_url": "https://mystore.com/try_again",
                        "cancelled_at": null,
                        "client_token": "ZRjM4ROfY6SPjTaQkz00OszWUcVvMA8KhStkPAoamPQ=",
                        "confirm": false,
                        "created_at": "2024-10-01T10:08:30.666381739Z",
                        "customer": "cus_crtqrhth90j0121gpt50",
                        "customer_details": {
                          "country": "SG",
                          "email": "andrea@example.com",
                          "name": "Andrea Lark",
                          "phone": {
                            "calling_code": "65",
                            "number": "87654321"
                          }
                        },
                        "holding_currency": "INR",
                        "id": "pay_crtsk7i6avg0t9ndc7l0",
                        "invoice_currency": "INR",
                        "items": [],
                        "latest_payment_attempt": "",
                        "latest_payment_attempt_data": null,
                        "metadata": {
                          "product_reference": "REF_12353"
                        },
                        "object": "payin",
                        "paid_in_excess": false,
                        "partially_paid": false,
                        "payment_attempts": [],
                        "payment_method_details": {
                          "key": "value"
                        },
                        "reference_id": "string",
                        "shipping_details": {
                          "address": {
                            "city": "Singapore",
                            "country": "SG",
                            "line1": "1st Street",
                            "line2": "2nd Avenue",
                            "postal_code": "43004",
                            "state": "Singapore"
                          },
                          "label": "Home",
                          "name": "Andrea Lark",
                          "phone": {
                            "calling_code": "65",
                            "number": "87654321"
                          }
                        },
                        "statement_descriptor": "tzp*string",
                        "status": "requires_payment_method",
                        "status_description": "",
                        "success_url": "https://mystore.com/success_page",
                        "transaction_data": [],
                        "transaction_description": "test",
                        "transaction_documents": [],
                        "webhook_url": "https://mystore.com/internal/webhook"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Indicates whether the payin creation request succeeded.",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message or additional context regarding the payin request.",
                      "example": ""
                    },
                    "data": {
                      "type": "object",
                      "description": "Contains detailed information about the created payin.",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "description": "Total amount of the payin in the smallest currency unit (e.g., cents).",
                          "example": 100
                        },
                        "amount_paid": {
                          "type": "integer",
                          "description": "Amount already paid by the customer toward this payin.",
                          "example": 0
                        },
                        "billing_details": {
                          "type": "object",
                          "description": "Billing information of the customer for the payin.",
                          "properties": {
                            "address": {
                              "type": "object",
                              "description": "Billing address details.",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "description": "City of the billing address.",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "Country code of the billing address (ISO 3166-1 alpha-2).",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "description": "First line of the street address.",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "description": "Second line of the street address (optional).",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "description": "Postal or ZIP code of the billing address.",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "description": "State, province, or region of the billing address.",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "description": "Label identifying the billing address (e.g., Home or Office).",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the billing contact person.",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "description": "Phone contact details for the billing address.",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "description": "International calling code of the phone number.",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "Local phone number of the billing contact.",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "cancel_url": {
                          "type": "string",
                          "description": "URL to which the customer is redirected if they cancel the payment process.",
                          "example": "https://mystore.com/try_again"
                        },
                        "cancelled_at": {
                          "type": "string",
                          "description": "Timestamp when the payin was cancelled, if applicable.",
                          "example": null
                        },
                        "client_token": {
                          "type": "string",
                          "description": "Client authentication token used to confirm or validate this payin session.",
                          "example": "ZRjM4ROfY6SPjTaQkz00OszWUcVvMA8KhStkPAoamPQ="
                        },
                        "confirm": {
                          "type": "boolean",
                          "description": "Indicates whether this payin requires explicit confirmation from the client before processing.",
                          "example": false
                        },
                        "created_at": {
                          "type": "string",
                          "description": "ISO 8601 timestamp marking when the payin was created.",
                          "example": "2024-10-01T10:08:30.666381739Z"
                        },
                        "customer": {
                          "type": "string",
                          "description": "Unique identifier of the customer associated with the payin.",
                          "example": "cus_crtqrhth90j0121gpt50"
                        },
                        "customer_details": {
                          "type": "object",
                          "description": "Information about the customer making the payin.",
                          "properties": {
                            "country": {
                              "type": "string",
                              "description": "Country code of the customer (ISO 3166-1 alpha-2).",
                              "example": "SG"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email address of the customer.",
                              "example": "andrea@example.com"
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the customer.",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "description": "Customer’s phone contact information.",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "description": "International calling code of the customer's phone number.",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "Local phone number of the customer.",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "holding_currency": {
                          "type": "string",
                          "description": "Currency used to hold the funds before conversion or settlement.",
                          "example": "INR"
                        },
                        "id": {
                          "type": "string",
                          "description": "Unique identifier assigned to this payin object.",
                          "example": "pay_crtsk7i6avg0t9ndc7l0"
                        },
                        "invoice_currency": {
                          "type": "string",
                          "description": "Currency of the associated invoice.",
                          "example": "INR"
                        },
                        "items": {
                          "type": "array",
                          "description": "List of items or line-items associated with this payin (if applicable).",
                          "example": []
                        },
                        "latest_payment_attempt": {
                          "type": "string",
                          "description": "Identifier of the most recent payment attempt related to this payin.",
                          "example": ""
                        },
                        "latest_payment_attempt_data": {
                          "type": "object",
                          "description": "Detailed data of the latest payment attempt if available.",
                          "example": null
                        },
                        "metadata": {
                          "type": "object",
                          "description": "Custom metadata key-value pairs attached to this payin for reference.",
                          "example": {
                            "key1": "value1",
                            "key2": "value2",
                            "key3": "value3"
                          }
                        },
                        "object": {
                          "type": "string",
                          "description": "Object type identifier; always 'payin' for this endpoint.",
                          "example": "payin"
                        },
                        "paid_in_excess": {
                          "type": "boolean",
                          "description": "Indicates whether an amount greater than the invoiced total was received.",
                          "example": false
                        },
                        "partially_paid": {
                          "type": "boolean",
                          "description": "Indicates whether the payin amount has been partially received.",
                          "example": false
                        },
                        "payment_attempts": {
                          "type": "array",
                          "description": "List of all payment attempts made for this payin.",
                          "example": []
                        },
                        "payment_method_details": {
                          "type": "object",
                          "description": "Information related to the selected payment method used by the payer.",
                          "example": {
                            "key": "value"
                          }
                        },
                        "reference_id": {
                          "type": "string",
                          "description": "External reference ID provided by the merchant for tracking purposes.",
                          "example": "string"
                        },
                        "shipping_details": {
                          "type": "object",
                          "description": "Shipping information of the customer for the payin.",
                          "properties": {
                            "address": {
                              "type": "object",
                              "description": "Shipping address details.",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "description": "City of the shipping address.",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "Country code of the shipping address (ISO 3166-1 alpha-2).",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "description": "First line of the shipping address.",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "description": "Second line of the shipping address (optional).",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "description": "Postal or ZIP code of the shipping address.",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "description": "State, province, or region of the shipping address.",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "description": "Label identifying the shipping address (e.g., Home or Office).",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the recipient at the shipping address.",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "description": "Contact phone details for shipping.",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "description": "International calling code of the phone number.",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "Local phone number of the recipient.",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "statement_descriptor": {
                          "type": "string",
                          "description": "Text that appears on the customer's payment statement.",
                          "example": "tzp*string"
                        },
                        "status": {
                          "type": "string",
                          "description": "Current status of the payin.",
                          "example": "requires_payment_method"
                        },
                        "status_description": {
                          "type": "string",
                          "description": "Additional descriptive text regarding the status.",
                          "example": ""
                        },
                        "success_url": {
                          "type": "string",
                          "description": "URL where the customer is redirected after successful payment completion.",
                          "example": "https://mystore.com/success_page"
                        },
                        "transaction_data": {
                          "type": "array",
                          "description": "List of transaction data entries associated with the payin.",
                          "example": []
                        },
                        "transaction_description": {
                          "type": "string",
                          "description": "Description or label for the transaction purpose.",
                          "example": "test"
                        },
                        "transaction_documents": {
                          "type": "array",
[...]
