{"openapi":"3.1.0","info":{"title":"sandbox","version":"1"},"servers":[{"url":"https://api-sandbox.tazapay.com"}],"components":{"securitySchemes":{"sec0":{"type":"http","scheme":"basic"}}},"security":[{"sec0":[]}],"paths":{"/v1/checkout":{"post":{"summary":"Create Checkout Session","description":"This lets you create a <a href = \"https://docs.tazapay.com/docs/checkout-core-concept\" target=\"_blank\">checkout session</a> for your customer by generating a Tazapay hosted payment page.","operationId":"create-checkout","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["buyer","invoice_currency","invoice_amount","txn_description"],"properties":{"buyer":{"type":"object","description":"User object for the buyer","required":["email","country","ind_bus_type"],"properties":{"email":{"type":"string","description":"Email address of the entity"},"country":{"type":"string","description":"ISO 3166 standard alpha-2 code. eg: SG, IN, US, etc."},"ind_bus_type":{"type":"string","description":"Either \"Individual\" or \"Business\"","enum":["Individual","Business"]},"first_name":{"type":"string","description":"Required only for Individuals"},"last_name":{"type":"string","description":"Required only for Individuals"},"business_name":{"type":"string","description":"Required only for Business"},"contact_code":{"type":"string","description":"Country Phone Code (for example, '+91' for India, '+1' for the US)"},"contact_number":{"type":"string","description":"Contact number of Individual or Business"}}},"seller_id":{"type":"string","description":"ID of the seller if the checkout session is being created by a marketplace on behalf of a seller. You can get this ID from the response of the Create User API."},"reference_id":{"type":"string","description":"Marketplace identifier value. Example, marketplace escrow number, auto generated value, etc. Will be returned as part of the response body and webhooks."},"fee_paid_by":{"type":"string","description":"The entity that bears the transaction fee - can be 'buyer' or 'seller'","enum":["buyer","seller"]},"fee_percentage":{"type":"number","description":"If the fee is to be split between the buyer and seller, pass the percentage split to be paid by the entity passed above. E.g. if fee_paid_by is buyer and fee_percentage is 40%, 60% of the remaining fee will need to be paid by the seller.","format":"float"},"invoice_currency":{"type":"string","description":"Invoice currency, ISO 4217 standard specifies three-letter (\"Alpha-3\") codes. e.g. USD"},"invoice_amount":{"type":"number","description":"Invoice amount","format":"float"},"txn_description":{"type":"string","description":"A short description of the underlying transaction or trade to be displayed on the redirection screen"},"payment_methods":{"type":"array","description":"Specify payment methods for the transaction. The keyword for each payment method can be found using the <a href = \"https://docs.tazapay.com/reference/collection-methods-api\" target = \"_blank\">collection methods metadata API.</a> Click <a href = \"https://docs.tazapay.com/docs/managing-payment-methods\" target = \"_blank\">here</a> to learn more about managing payment methods.","items":{"type":"string"}},"shipping_details":{"type":"object","description":"Shipping Details for the checkout session","properties":{"name":{"type":"string","description":"Name"},"address":{"type":"object","description":"Address","properties":{"line1":{"type":"string","description":"Address Line 1"},"line2":{"type":"string","description":"Address Line 2"},"city":{"type":"string","description":"Address city"},"state":{"type":"string","description":"Address state"},"country":{"type":"string","description":"Address country (Country (ISO 3166-1 alpha_2 country code, in lowercase)"},"postal_code":{"type":"string","description":"Postal Code"}}},"phone":{"type":"object","description":"Phone","properties":{"country_code":{"type":"string","description":"Calling country code (for example, '1' for United States, '91' for India)"},"number":{"type":"string","description":"Phone Number"}}}}},"billing_details":{"type":"object","description":"Billing Details for the checkout session","properties":{"name":{"type":"string","description":"Name"},"address":{"type":"object","description":"Address","properties":{"line1":{"type":"string","description":"Address Line 1"},"line2":{"type":"string","description":"Address Line 2"},"city":{"type":"string","description":"Address city"},"state":{"type":"string","description":"Address state"},"country":{"type":"string","description":"Address country (Country (ISO 3166-1 alpha_2 country code, in lowercase)"},"postal_code":{"type":"string","description":"Postal Code"}}},"phone":{"type":"object","description":"Phone","properties":{"country_code":{"type":"string","description":"Calling country code (for example, '1' for United States, '91' for India)"},"number":{"type":"string","description":"Phone Number"}}}}},"callback_url":{"type":"string","description":"(Backend) URL on your server where Tazapay sends webhooks. Useful for asynchronous payments where we can send updates on payment statuses. Please make sure that the url is under https!"},"complete_url":{"type":"string","description":"(Frontend) URL where the customer is redirected after a successful payment. Please make sure that the url is under https!"},"error_url":{"type":"string","description":"(Frontend) URL where the customer is redirected in case of an error in the payment. Please make sure that the url is under https!"},"filter":{"type":"array","description":"Specify payment methods to remove for the transaction. The keyword for each payment method can be found using the <a href = \"https://docs.tazapay.com/reference/collection-methods-api\" target = \"_blank\">collection methods metadata API.</a> Click <a href = \"https://docs.tazapay.com/docs/managing-payment-methods\" target = \"_blank\">here</a> to learn more about managing payment methods.","items":{"type":"string"}},"fee_tier":{"type":"string","description":"Applicable fee tier. Configured for marketplaces to collect commissions and fees"},"attributes":{"type":"string","description":"Tunnelled add-on fields","format":"json"}}},"examples":{"Request Example":{"value":{"buyer":{"email":"a@string.com","country":"SG","ind_bus_type":"Individual","first_name":"sg","last_name":"buyer","business_name":"string"},"seller_id":"2c8e159f-66a6-48d2-890f-348800ca4f36","fee_paid_by":"buyer","fee_percentage":0,"invoice_currency":"USD","invoice_amount":100,"txn_description":"test"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"message\": \"Payment Link created successfully\",\n    \"data\": {\n        \"buyer\": {\n            \"id\": \"435907ea-5577-47fe-ba3f-9c403dc1928b\",\n            \"email\": \"indiffafnfself34ffffflfesfser@in.comm\",\n            \"country\": \"India\"\n        },\n        \"seller\": {\n            \"id\": \"2c8e159f-66a6-48d2-890f-348800ca4f36\",\n            \"email\": \"ankit+25july100504ind@tazapay.com\",\n            \"country\": \"India\"\n        },\n        \"redirect_url\": \"https://sandbox.tazapay.com/marketplace/paymentdetails/6eKQIxFtPFPCHtpBPMbMEdYCQsjyZKvBHED-HlQln23r89gyHdKcWqR5sNOpUC5u\",\n        \"token\": \"6eKQIxFtPFPCHtpBPMbMEdYCQsjyZKvBHED-HlQln23r89gyHdKcWqR5sNOpUC5u\",\n        \"txn_no\": \"2207-435080\",\n        \"state\": \"Escrow_Awaiting_Funds\",\n        \"sub_state\": \"na\",\n        \"txn_type\": \"goods\",\n        \"invoice_currency\": \"INR\",\n        \"invoice_amount\": 2000,\n        \"fee_tier\": \"standard\",\n        \"fee_paid_by\": \"buyer\",\n        \"fee_tier_percentage\": 1.8,\n        \"fee_amount\": 36,\n        \"collect_amount\": 2000,\n        \"disburse_amount\": 1964,\n        \"transcation_source\": \"api\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Payment Link created successfully"},"data":{"type":"object","properties":{"buyer":{"type":"object","properties":{"id":{"type":"string","example":"435907ea-5577-47fe-ba3f-9c403dc1928b"},"email":{"type":"string","example":"indiffafnfself34ffffflfesfser@in.comm"},"country":{"type":"string","example":"India"}}},"seller":{"type":"object","properties":{"id":{"type":"string","example":"2c8e159f-66a6-48d2-890f-348800ca4f36"},"email":{"type":"string","example":"ankit+25july100504ind@tazapay.com"},"country":{"type":"string","example":"India"}}},"redirect_url":{"type":"string","example":"https://sandbox.tazapay.com/marketplace/paymentdetails/6eKQIxFtPFPCHtpBPMbMEdYCQsjyZKvBHED-HlQln23r89gyHdKcWqR5sNOpUC5u"},"token":{"type":"string","example":"6eKQIxFtPFPCHtpBPMbMEdYCQsjyZKvBHED-HlQln23r89gyHdKcWqR5sNOpUC5u"},"txn_no":{"type":"string","example":"2207-435080"},"state":{"type":"string","example":"Escrow_Awaiting_Funds"},"sub_state":{"type":"string","example":"na"},"txn_type":{"type":"string","example":"goods"},"invoice_currency":{"type":"string","example":"INR"},"invoice_amount":{"type":"integer","example":2000,"default":0},"fee_tier":{"type":"string","example":"standard"},"fee_paid_by":{"type":"string","example":"buyer"},"fee_tier_percentage":{"type":"number","example":1.8,"default":0},"fee_amount":{"type":"integer","example":36,"default":0},"collect_amount":{"type":"integer","example":2000,"default":0},"disburse_amount":{"type":"integer","example":1964,"default":0},"transcation_source":{"type":"string","example":"api"}}}}}}}}},"deprecated":false}},"/v1/checkout/{txn_no}":{"get":{"summary":"Get Checkout Session","description":"This lets you fetch the details of the checkout session","operationId":"get-checkout-session","parameters":[{"name":"txn_no","in":"path","description":"Represents a unique transaction. This is available in the response of the Create Checkout session.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"data\": {\n    \"state\": \"Payment_Received\",\n    \"sub_state\": \"Generic\",\n    \"invoice_currency\": \"USD\",\n    \"fee_paid_by\": \"buyer\",\n    \"txn_type\": \"goods\",\n    \"txn_no\": \"2302-424776\",\n    \"txn_description\": \"sc\",\n    \"reference_id\": \"\",\n    \"invoice_amount\": 1000,\n    \"buyer\": {\n      \"contact_name\": \"suraj c\",\n      \"email\": \"suraj+ppbcanada@tazapay.com\",\n      \"country\": \"CA\",\n      \"company_name\": \"123\",\n      \"ind_bus_type\": \"Business\",\n      \"country_alpha2\": \"\"\n    },\n    \"seller\": {\n      \"contact_name\": \"suraj c\",\n      \"email\": \"suraj+preprodbuyerc@tazapay.com\",\n      \"country\": \"US\",\n      \"company_name\": \"suraj buyer\",\n      \"ind_bus_type\": \"Business\",\n      \"country_alpha2\": \"\"\n    },\n    \"shipping_details\": {\n      \"name\": \"John Doe\",\n      \"address\": {\n        \"city\": \"Chennai\",\n        \"country\": \"IN\",\n        \"line1\": \"Tazapay office\",\n        \"line2\": \"Perungudi\",\n        \"postal_code\": \"759100\",\n        \"state\": \"Tamil Nadu\"\n      },\n      \"phone\": {\n        \"country_code\": \"+91\",\n        \"number\": \"97865425\"\n      }\n    },\n    \"billing_details\": {\n      \"name\": \"Alice Cook\",\n      \"address\": {\n        \"city\": \"London\",\n        \"country\": \"GB\",\n        \"line1\": \"B-514\",\n        \"line2\": \"Mayfair\",\n        \"postal_code\": \"BW 543\",\n        \"state\": \"South London\"\n      },\n      \"phone\": {\n        \"country_code\": \"44\",\n        \"number\": \"3975937\"\n      }\n    },\n    \"attributes\": null,\n    \"collect_amount\": 1030,\n    \"disburse_amount\": 1000,\n    \"fee_amount\": 30,\n    \"fee_percentage\": 3\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"data":{"type":"object","properties":{"state":{"type":"string","example":"Payment_Received"},"sub_state":{"type":"string","example":"Generic"},"invoice_currency":{"type":"string","example":"USD"},"fee_paid_by":{"type":"string","example":"buyer"},"txn_type":{"type":"string","example":"goods"},"txn_no":{"type":"string","example":"2302-424776"},"txn_description":{"type":"string","example":"sc"},"reference_id":{"type":"string","example":""},"invoice_amount":{"type":"integer","example":1000,"default":0},"buyer":{"type":"object","properties":{"contact_name":{"type":"string","example":"suraj c"},"email":{"type":"string","example":"suraj+ppbcanada@tazapay.com"},"country":{"type":"string","example":"CA"},"company_name":{"type":"string","example":"123"},"ind_bus_type":{"type":"string","example":"Business"},"country_alpha2":{"type":"string","example":""}}},"seller":{"type":"object","properties":{"contact_name":{"type":"string","example":"suraj c"},"email":{"type":"string","example":"suraj+preprodbuyerc@tazapay.com"},"country":{"type":"string","example":"US"},"company_name":{"type":"string","example":"suraj buyer"},"ind_bus_type":{"type":"string","example":"Business"},"country_alpha2":{"type":"string","example":""}}},"shipping_details":{"type":"object","properties":{"name":{"type":"string","example":"John Doe"},"address":{"type":"object","properties":{"city":{"type":"string","example":"Chennai"},"country":{"type":"string","example":"IN"},"line1":{"type":"string","example":"Tazapay office"},"line2":{"type":"string","example":"Perungudi"},"postal_code":{"type":"string","example":"759100"},"state":{"type":"string","example":"Tamil Nadu"}}},"phone":{"type":"object","properties":{"country_code":{"type":"string","example":"+91"},"number":{"type":"string","example":"97865425"}}}}},"billing_details":{"type":"object","properties":{"name":{"type":"string","example":"Alice Cook"},"address":{"type":"object","properties":{"city":{"type":"string","example":"London"},"country":{"type":"string","example":"GB"},"line1":{"type":"string","example":"B-514"},"line2":{"type":"string","example":"Mayfair"},"postal_code":{"type":"string","example":"BW 543"},"state":{"type":"string","example":"South London"}}},"phone":{"type":"object","properties":{"country_code":{"type":"string","example":"44"},"number":{"type":"string","example":"3975937"}}}}},"attributes":{},"collect_amount":{"type":"integer","example":1030,"default":0},"disburse_amount":{"type":"integer","example":1000,"default":0},"fee_amount":{"type":"integer","example":30,"default":0},"fee_percentage":{"type":"integer","example":3,"default":0}}}}}}}}},"deprecated":false}},"/v1/user":{"post":{"summary":"Create User","description":"Create a Tazapay <a href=\"https://docs.tazapay.com/docs/users-core-concept\">User</a>","operationId":"create-user-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["email","country","ind_bus_type"],"properties":{"email":{"type":"string"},"country":{"type":"string"},"ind_bus_type":{"type":"string","description":"Either \"Individual\" or \"Business\"","enum":["Individual","Business"]},"first_name":{"type":"string","description":"Required only for Individuals"},"last_name":{"type":"string","description":"Required only for Individuals"},"business_name":{"type":"string","description":"Required only for Business"},"contact_code":{"type":"string","description":"Country Phone Code (for example, '+91' for India, '+1' for the US)"},"contact_number":{"type":"string","description":"Contact number of Individual or Business"},"partners_customer_id":{"type":"string","description":"Reference number of the user from your system"}}},"examples":{"Individual":{"value":{"email":"individual@someplace.com","country":"IN","ind_bus_type":"Individual","first_name":"Some","last_name":"Person"}},"Business":{"value":{"email":"business@somplace.com","country":"IN","ind_bus_type":"Business","business_name":"Some Business"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"message\": \"Partner user signup successful\",\n    \"data\": {\n        \"account_id\": \"afcd6ed3-8c48-471d-8f6c-beee2f504274\",\n        \"customer_id\": \"1373413\",\n      \t\"country\":\"IN\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Partner user signup successful"},"data":{"type":"object","properties":{"account_id":{"type":"string","example":"afcd6ed3-8c48-471d-8f6c-beee2f504274"},"customer_id":{"type":"string","example":"1373413"},"country":{"type":"string","example":"IN"}}}}}}}}},"deprecated":false},"put":{"summary":"Edit/Update User","description":"Edit or update details of an existing user","operationId":"update-user-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","country","ind_bus_type"],"properties":{"account_id":{"type":"string","description":"Unique ID for a user generated as a part of POST /v1/user response body"},"email":{"type":"string","description":"Email ID of the user"},"country":{"type":"string","description":"ISO 3166-1 alpha-2 code (in uppercase)"},"ind_bus_type":{"type":"string","description":"Either \"Individual\" or \"Business\"","default":"Individual"},"first_name":{"type":"string","description":"Required only for Individuals"},"last_name":{"type":"string","description":"Required only for Individuals"},"business_name":{"type":"string","description":"Required only for Business"},"contact_code":{"type":"string","description":"Country Phone Code"},"contact_number":{"type":"string","description":"Contact number of Individual or Business"}}},"examples":{"Request Example":{"value":{"account_id":"79b89164-39f1-444d-be62-ea651234ca94","first_name":"neeraj","last_name":"singh","business_name":"tazapay","country":"IN","ind_bus_type":"Individual","contact_code":"+91","contact_number":"9850456345"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"message\":\"user details updated\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"user details updated"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"message\":\"Unable to update user details at this time, please contact us at ops@tazapay.com and share the following reference ID: <transaction reference>.\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unable to update user details at this time, please contact us at ops@tazapay.com and share the following reference ID: <transaction reference>."}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"message\":\"something went wrong. please try again later\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"something went wrong. please try again later"}}}}}}},"deprecated":false}},"/v1/user/{email}":{"get":{"summary":"Get User by Email","description":"","operationId":"get-user-by-email-api","parameters":[{"name":"email","in":"path","schema":{"type":"string","default":"test@example.com"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"data\": {\n        \"id\": \"435907ea-5577-47fe-ba3f-9c403dc1928b\",\n        \"company_name\": \"IN_SELLER\",\n        \"first_name\": \"\",\n        \"last_name\": \"\",\n        \"email\": \"indiffafnfself34ffffflfesfser@in.comm\",\n        \"country\": \"India\",\n        \"country_code\": \"IN\",\n        \"contact_code\": \"+91\",\n        \"contact_number\": \"5897456\",\n        \"customer_id\": \"\",\n        \"ind_bus_type\": \"Business\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"data":{"type":"object","properties":{"id":{"type":"string","example":"435907ea-5577-47fe-ba3f-9c403dc1928b"},"company_name":{"type":"string","example":"IN_SELLER"},"first_name":{"type":"string","example":""},"last_name":{"type":"string","example":""},"email":{"type":"string","example":"indiffafnfself34ffffflfesfser@in.comm"},"country":{"type":"string","example":"India"},"country_code":{"type":"string","example":"IN"},"contact_code":{"type":"string","example":"+91"},"contact_number":{"type":"string","example":"5897456"},"customer_id":{"type":"string","example":""},"ind_bus_type":{"type":"string","example":"Business"}}}}}}}}},"deprecated":false}},"/v1/user/{id}":{"get":{"summary":"Get User by ID","description":"","operationId":"get-user-by-id-api","parameters":[{"name":"id","in":"path","description":"UUID of the Tazapay user received in the response for Create User API.","schema":{"type":"string","default":"9fa82ceb-28f4-412f-b371-ed13cb58b8ee"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\": \"9fa82ceb-28f4-412f-b371-ed13cb58b8ee\",\n   \"company_name\": \"Test business\",\n   \"first_name\": \"\",\n   \"last_name\": \"\",\n   \"email\": \"test@tazapay.com\",\n   \"country\": \"Thailand\",\n   \"country_code\": \"TH\",\n   \"contact_code\":\"+66\",,\n   \"contact_number\": \"\",\n   \"customer_id\": \"\",\n   \"ind_bus_type\": \"Business\"\n}"}}}}}},"deprecated":false}},"/v1/bank":{"post":{"summary":"Add Bank","description":"Add a bank account for a user","operationId":"add-bank-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","currency","bank_name","legal_name","account_number","bank_codes"],"properties":{"account_id":{"type":"string","description":"UUID of the Tazapay account"},"currency":{"type":"string","description":"Currency of the bank account , ISO 4217 standard three-letter (\"Alpha-3\") codes. e.g. USD"},"bank_name":{"type":"string","description":"Name of the bank, example 'JP Morgan Chase'"},"legal_name":{"type":"string","description":"Legal Name of the Account Holder"},"account_number":{"type":"string","description":"User's bank account number"},"country_code":{"type":"string","description":"ISD code of the user's country. Example - '+1' for USA. (Required if contact_number != \"\" OR Bank country = Malaysia) If this field is set, please make sure to add the country_code for the respective country as mentioned in the example!"},"contact_number":{"type":"string","description":"User's mobile number connected to the bank account. (Required if country_code != \"\" OR Bank country = Malaysia)"},"bank_codes":{"type":"string","description":"Bank Codes. (For example - {\"IBAN\":\"SD233232\", \"BIC/SWIFT\": \"FSFSFDF242\"}).","default":"{\"IBAN\":\"SD233232\", \"BIC/SWIFT\": \"FSFSFDF242\"}","format":"json"},"address":{"type":"string","description":"Address of the bank account holder"},"is_primary_account":{"type":"boolean","description":"Set the bank account as primary","default":true},"city":{"type":"string","description":"The city where the bank account is located"},"state":{"type":"string","description":"The state where the bank account is located"},"zip_code":{"type":"string","description":"The zipcode/pincode where the bank account is located"}}},"examples":{"Request Example":{"value":{"account_id":"191e5e6a-4d19-4cbd-b5b1-b6ed70996c89","currency":"MYR","bank_name":"test bank","legal_name":"test","account_number":"12345678","country_code":"+60","contact_number":"8567575","is_primary_account":"true","bank_codes":{"SWIFT":"123","ABA":"7890"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"data\": {\n        \"bank_id\": \"5f1d7b10-332d-4ecd-a41d-8ae133788c28\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"data":{"type":"object","properties":{"bank_id":{"type":"string","example":"5f1d7b10-332d-4ecd-a41d-8ae133788c28"}}}}}}}}},"deprecated":false}},"/v1/bank/{account_id}":{"get":{"summary":"Get Bank","description":"This returns the list of all the bank accounts added for a user","operationId":"get-bank-api","parameters":[{"name":"account_id","in":"path","description":"UUID of the user's Tazapay account","schema":{"type":"string"},"required":true}],"deprecated":false}},"/v1/bank/primary":{"put":{"summary":"Primary Account","description":"This enables you to set a bank account as primary. The previous bank account becomes non-primary.","operationId":"set-primary-account","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","bank_id"],"properties":{"account_id":{"type":"string","description":"UUID of the user's Tazapay account"},"bank_id":{"type":"string","description":"UUID of the added bank. This is a part of the response of the Add Bank API"}}}}}},"deprecated":false}},"/v2/kyb":{"post":{"summary":"KYB Application","description":"","operationId":"kyb-application-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","application_type","entity_name","business","representative"],"properties":{"account_id":{"type":"string","description":"UUID of Tazapay account"},"application_type":{"type":"string","description":"Applicant's entity type. Can be 'Individual' or 'Business'.","default":"Individual","enum":["Individual","Business"]},"entity_name":{"type":"string","description":"Name of the business/individual (for example - \"My Shop\"/\"John Doe\")"},"submit":{"type":"boolean","description":"To ensure the KYB application is picked up for verification, please pass \"submit\":true. You cannot update the KYB application anymore after 'submit' : 'true' is passed. To keep the option of editing, pass 'submit' : 'false'.","default":false},"business":{"type":"object","description":"Business details and documents","required":["name","type","country"],"properties":{"name":{"type":"string","description":"Name of the business, Example: \"My Shop\""},"type":{"type":"string","description":"Can be either Sole Proprietorship, Partnership, Company or Other","enum":["Sole Proprietorship","Partnership","Company","Other"]},"incorporation_no":{"type":"string","description":"Incorporation number for the business"},"address_line_1":{"type":"string","description":"Address line 1"},"address_line_2":{"type":"string","description":"Address line 2"},"city":{"type":"string","description":"Business' city"},"state":{"type":"string","description":"Business' state"},"country":{"type":"string","description":"Business' country"},"zip_code":{"type":"string","description":"Zip code - Part of the address"},"trading_name":{"type":"string","description":"Trading name of the business"},"years_in_business":{"type":"string","description":"Number of years in which the business is operational. Can be: < 1 year,1-5 years,5-10 years, or> 10 years","enum":["< 1 year","1-5 years","5-10 years",">10 years"]},"annual_turnover":{"type":"string","description":"Annual turnover of the business"},"website":{"type":"string","description":"Business website URL"},"date_of_incorporation":{"type":"string","description":"Date of incorporation of the business"},"custom_attrs":{"type":"string","description":"Tunnelled add-on fields","format":"json"},"documents":{"type":"array","description":"List of documents to be used for verification","items":{"properties":{"name":{"type":"string","enum":["Business Registration Proof","Business Address Proof"]},"url":{"type":"string","description":"Direct download link (dynamically downloadable format)"},"proof_type":{"type":"string","enum":["Business"]},"type":{"type":"string","enum":["Other"]},"file_name":{"type":"string","description":"Name of the file attached"}},"required":["name","url","proof_type","type","file_name"],"type":"object"}}}},"representative":{"type":"object","description":"Representative details and documents","required":["first_name","last_name","country","ownership_percent"],"properties":{"first_name":{"type":"string","description":"Representative's first name"},"last_name":{"type":"string","description":"Representative's last name"},"dob":{"type":"string","description":"Representative's date of birth"},"address_line_1":{"type":"string","description":"Address line 1"},"address_line_2":{"type":"string","description":"Address line 2"},"city":{"type":"string","description":"Representative's city"},"state":{"type":"string","description":"Representative's state"},"country":{"type":"string","description":"Representative's country"},"zip_code":{"type":"string","description":"Zip Code - Part of the address"},"mobile_number":{"type":"string","description":"Representative's mobile number"},"ownership_percent":{"type":"integer","description":"Representative's ownership percentage. Value must be between 0-100","format":"int32"},"roles":{"type":"array","description":"Representative's role. Can be one or more than one of these: 'Director', 'Shareholder', 'Beneficial Owner', 'Authorised Signatory', 'Authorized Representative', or 'Other'","items":{"type":"string"}},"documents":{"type":"array","description":"List of documents to be used for verification","items":{"properties":{"proof_type":{"type":"string","description":"Proof type. Can be Identity, Business, Person, Additional Doc, Address, Business History Doc","default":"Identity","enum":["Identity","Business","Person","Additional Doc","Address","Business History Doc"]},"type":{"type":"string","description":"Document type. Can be: Driver's License, National ID, Passport, or Other","enum":["Driver's License","National ID","Passport","Other"]},"name":{"type":"string","description":"Required only if type = Other. Document type if not listed in \"type\""},"url":{"type":"string","description":"Direct download link (dynamically downloadable format)"},"description":{"type":"string","description":"Description of the document"},"file_name":{"type":"string","description":"Name of the file attached"}},"required":["proof_type","type","url","file_name"],"type":"object"}}}},"owner":{"type":"array","description":"Owner details and documents","items":{"properties":{"first_name":{"type":"string","description":"Representative's first name"},"last_name":{"type":"string","description":"Representative's last name"},"dob":{"type":"string","description":"Representative's date of birth"},"address_line_1":{"type":"string","description":"Address line 1"},"address_line_2":{"type":"string","description":"Address line 2"},"city":{"type":"string","description":"Representative's city"},"state":{"type":"string","description":"Representative's state"},"country":{"type":"string","description":"Representative's country"},"zip_code":{"type":"string","description":"Zip Code - Part of the address"},"mobile_number":{"type":"string","description":"Representative's mobile number"},"ownership_percent":{"type":"integer","description":"Representative's ownership percentage. Value must be between 0-100","format":"int32"},"roles":{"type":"array","description":"Representative's role. Can be one or more than one of these: 'Director', 'Shareholder', 'Beneficial Owner', 'Authorised Signatory', 'Authorized Representative', or 'Other'","default":[],"items":{"type":"string"}},"documents":{"type":"array","description":"List of documents to be used for verification","items":{"properties":{"proof_type":{"type":"string","description":"Proof type. Can be Identity, Business, Person, Additional Doc, Address, Business History Doc","default":"Identity","enum":["Identity","Business","Person","Additional Doc","Address","Business History Doc"]},"type":{"type":"string","description":"Document type. Can be: Driver's License, National ID, Passport, or Other","enum":["Driver's License","National ID","Passport","Other"]},"name":{"type":"string","description":"Required only if type = Other. Document type if not listed in \"type\""},"url":{"type":"string","description":"Direct download link (dynamically downloadable format)"},"description":{"type":"string","description":"Description of the document"},"file_name":{"type":"string","description":"Name of the file attached"}},"required":["proof_type","type","url","file_name"],"type":"object"}}},"required":["first_name","last_name","country","ownership_percent"],"type":"object"}},"callback_url":{"type":"string","description":"(Backend) URL on your server where Tazapay sends webhooks. Useful for getting the updated status of the KYB Application"}}},"examples":{"Request Example":{"value":{"account_id":"78e2fde6-a3bb-410c-99b7-567873fea7da8","application_type":"Business","entity_name":"Company","callback_url":"https://www.tidtaddingg.com/tazapay_webhook","submit":true,"business":{"name":"Test api integration","type":"","incorporation_no":"GST-2344566","address_line_1":"Block.1, abc","address_line_2":"XYZ area","city":"Chennai","state":"TamilNadu","country":"India","zip_code":"600069","trading_name":"","years_in_business":"","annual_turnover":"","website":"","date_of_incorporation":"","custom_attrs":{"transaction_id":"123"},"documents":[{"description":"Business Registration Proof","file_name":"busRegProof.png","name":"Business Registration Proof","proof_type":"Business","type":"Other","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg"},{"description":"Business Address Proof","file_name":"busAddressProof.png","name":"Business Address Proof","proof_type":"Address","type":"Other","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg"}]},"representative":{"first_name":"Steve","last_name":"Rogers","roles":["Director"],"dob":"","address_line_1":"add 1","address_line_2":"add 2","city":"Chennai","state":"TamilNadu","country":"India","zip_code":"600069","contact_code":"+91","mobile_number":"9090929229","ownership_percent":50,"documents":[{"proof_type":"Identity","type":"Passport","name":"Address proof","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg","file_name":"passportfront.jpg","description":"representative passport"},{"proof_type":"Identity","type":"Passport","name":"Address proof","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg","file_name":"passportback.jpg","description":"representative passport"}]},"owner":[{"first_name":"Tony","last_name":"Stark","roles":["Shareholder","Director"],"dob":"","address_line_1":"add 1","address_line_2":"add 2","city":"Chennai","state":"TamilNadu","country":"India","zip_code":"600069","contact_code":"+91","mobile_number":"9090929229","ownership_percent":25,"documents":[{"proof_type":"Identity","type":"Passport","name":"Address proof","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg","file_name":"passportfront.jpg","description":"representative passport"},{"proof_type":"Identity","type":"Passport","name":"Address proof","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg","file_name":"passportback.jpg","description":"representative passport"}]},{"first_name":"Thor","last_name":"Odinson","role":"Shareholder","role_name":"","dob":"","address_line_1":"add 1","address_line_2":"add 2","city":"Chennai","state":"TamilNadu","country":"India","zip_code":"600069","contact_code":"+91","mobile_number":"9090929229","ownership_percent":25,"documents":[{"proof_type":"Identity","type":"Passport","name":"Address proof","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg","file_name":"passportfront.jpg","description":"representative passport"},{"proof_type":"Identity","type":"Passport","name":"Address proof","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg","file_name":"passportback.jpg","description":"representative passport"}]}]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"message\": \"kyb application created successfully\",\n    \"data\": {\n        \"application_id\": \"a01d242d-8860-4b67-9632-0ff51a1bb3c7\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"kyb application created successfully"},"data":{"type":"object","properties":{"application_id":{"type":"string","example":"a01d242d-8860-4b67-9632-0ff51a1bb3c7"}}}}}}}}},"deprecated":false}},"/v2/kyb/{id}":{"put":{"summary":"Update KYB","description":"Update existing KYB application. Can be only done if \"submit\":\"false\" in the POST KYB request","operationId":"update-kyb-api","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","application_type","entity_name","business","representative"],"properties":{"account_id":{"type":"string","description":"UUID of Tazapay account"},"application_type":{"type":"string","description":"Applicant's entity type. Can be 'Individual' or 'Business'"},"entity_name":{"type":"string","description":"Name of the business/individual (for example - \"My Shop\"/\"John Doe\")"},"submit":{"type":"boolean","description":"To ensure the KYB application is picked up for verification, please pass \"submit\":true. You cannot update the KYB application anymore after 'submit' : 'true' is passed. To keep the option of editing, pass 'submit' : 'false'.","default":false},"business":{"type":"object","description":"Business details and documents","required":["name","type","country"],"properties":{"name":{"type":"string","description":"Name of the business, Example: \"My Shop\""},"type":{"type":"string","description":"Can be either Sole Proprietorship, Partnership, Company or Other","enum":["Sole Proprietorship","Partnership","Company","Other"]},"incorporation_no":{"type":"string","description":"Incorporation number for the business"},"address_line_1":{"type":"string","description":"Address line 1"},"address_line_2":{"type":"string","description":"Address line 2"},"city":{"type":"string","description":"Business' city"},"state":{"type":"string","description":"Business' state"},"country":{"type":"string","description":"Business' country"},"zip_code":{"type":"string","description":"Zip code - Part of the address"},"trading_name":{"type":"string","description":"Trading name of the business"},"years_in_business":{"type":"string","description":"Number of years in which the business is operational. Can be: < 1 year,1-5 years,5-10 years, or> 10 years","enum":["< 1 year","1-5 years","5-10 years",">10 years"]},"annual_turnover":{"type":"string","description":"Annual turnover of the business"},"website":{"type":"string","description":"Business website URL"},"date_of_incorporation":{"type":"string","description":"Date of incorporation of the business"},"custom_attrs":{"type":"string","description":"Tunnelled add-on fields","format":"json"},"documents":{"type":"array","description":"List of documents to be used for verification","items":{"properties":{"name":{"type":"string","enum":["Business Registration Proof","Business Address Proof"]},"url":{"type":"string","description":"Direct download link (dynamically downloadable format)"},"proof_type":{"type":"string","enum":["Business"]},"type":{"type":"string","enum":["Other"]},"file_name":{"type":"string","description":"Name of the file attached"}},"required":["name","url","proof_type","type","file_name"],"type":"object"}}}},"representative":{"type":"object","description":"Representative details and documents","required":["first_name","last_name","country","ownership_percent"],"properties":{"first_name":{"type":"string","description":"Representative's first name"},"last_name":{"type":"string","description":"Representative's last name"},"dob":{"type":"string","description":"Representative's date of birth"},"address_line_1":{"type":"string","description":"Address line 1"},"address_line_2":{"type":"string","description":"Address line 2"},"city":{"type":"string","description":"Representative's city"},"state":{"type":"string","description":"Representative's state"},"country":{"type":"string","description":"Representative's country"},"zip_code":{"type":"string","description":"Zip Code - Part of the address"},"mobile_number":{"type":"string","description":"Representative's mobile number"},"ownership_percent":{"type":"integer","description":"Representative's ownership percentage. Value must be between 0-100","format":"int32"},"roles":{"type":"array","description":"Representative's role. Can be one or more than one of these: 'Director', 'Shareholder', 'Beneficial Owner', 'Authorised Signatory', 'Authorized Representative', or 'Other'","items":{"type":"string"}},"documents":{"type":"array","description":"List of documents to be used for verification","items":{"properties":{"proof_type":{"type":"string","description":"Proof type. Can be Identity, Business, Person, Additional Doc, Address, Business History Doc","default":"Identity","enum":["Identity","Business","Person","Additional Doc","Address","Business History Doc"]},"type":{"type":"string","description":"Document type. Can be: Driver's License, National ID, Passport, or Other","enum":["Driver's License","National ID","Passport","Other"]},"name":{"type":"string","description":"Required only if type = Other. Document type if not listed in \"type\""},"url":{"type":"string","description":"Direct download link (dynamically downloadable format)"},"description":{"type":"string","description":"Description of the document"},"file_name":{"type":"string","description":"Name of the file attached"}},"required":["proof_type","type","url","file_name"],"type":"object"}}}},"owner":{"type":"object","description":"Owner details and documents","required":["first_name","last_name","country","ownership_percent"],"properties":{"first_name":{"type":"string","description":"Representative's first name"},"last_name":{"type":"string","description":"Representative's last name"},"dob":{"type":"string","description":"Representative's date of birth"},"address_line_1":{"type":"string","description":"Address line 1"},"address_line_2":{"type":"string","description":"Address line 2"},"city":{"type":"string","description":"Representative's city"},"state":{"type":"string","description":"Representative's state"},"country":{"type":"string","description":"Representative's country"},"zip_code":{"type":"string","description":"Zip Code - Part of the address"},"mobile_number":{"type":"string","description":"Representative's mobile number"},"ownership_percent":{"type":"integer","description":"Representative's ownership percentage. Value must be between 0-100","format":"int32"},"roles":{"type":"array","description":"Representative's role. Can be one or more than one of these: 'Director', 'Shareholder', 'Beneficial Owner', 'Authorised Signatory', 'Authorized Representative', or 'Other'","items":{"type":"string"}},"documents":{"type":"array","description":"List of documents to be used for verification","items":{"properties":{"proof_type":{"type":"string","description":"Proof type. Can be Identity, Business, Person, Additional Doc, Address, Business History Doc","default":"Identity","enum":["Identity","Business","Person","Additional Doc","Address","Business History Doc"]},"type":{"type":"string","description":"Document type. Can be: Driver's License, National ID, Passport, or Other","enum":["Driver's License","National ID","Passport","Other"]},"name":{"type":"string","description":"Required only if type = Other. Document type if not listed in \"type\""},"url":{"type":"string","description":"Direct download link (dynamically downloadable format)"},"description":{"type":"string","description":"Description of the document"},"file_name":{"type":"string","description":"Name of the file attached"}},"required":["proof_type","type","url","file_name"],"type":"object"}}}}}},"examples":{"Request Example":{"value":{"account_id":"15235007-1f95-4d67-a845-96343f1802b0","application_type":"Business","submit":true,"business":{"address_line_1":"Block.1, abc","address_line_2":"XYZ area","city":"Chennai","country":"India","custom_attrs":{"transaction_id":"123"},"description":"","documents":[{"description":"Business Address Proof","file_name":"busAddressProof.png","id":"f21f23e8-165c-443a-a611-bff7d10a2d6e","name":"Business Address Proof","proof_type":"Address","tag":"addressProofDoc","type":"Other","url":"https://kyb-service-staging-red.s3.ap-southeast-1.amazonaws.com/8a94b1f7-511d-4412-8df4-72e690978783/busAddressProof.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAQKC7OY4N2DLCMF7T%2F20220407%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220407T060227Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEB4aDmFwLXNvdXRoZWFzdC0xIkcwRQIgS%2FGNwObUyGZovDqhqgVEzP9%2BZGbmBsieOGVBT%2BHB9%2FICIQD2FBiraluTJfv3GBv%2Fjrlr5Qv4i6rIeipL8bkWEkGFaiq1Agi3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAEaDDAyMTY3NTAzNDM5NSIMnOdfCtTSDykA8yNIKokCOMS0kqAse2jdjHVPK%2BU%2FG0eET30SbhCwmrGuBqQQt54TJW%2BDgO8TQU47y3bFfiwszSgnQcDrjqVQGJhXUewdrd7Lhg6CFg51CXVrm6tSOZE9Cv2jlSW2UaRMA2e5CAAjzZX%2BqufVwLrH1xNAoI53OVI%2B7fDrTCopr2p6GfV2t7rvqHjZFvWbJoHetneqkZnY9i6Ze6oQGGC6BP96vGa3ETKmX%2FVFn2WeLrYVByp95gAwGgpwVswAO1N1DzYUp%2FWzlq%2B89%2BlVr%2BMAwRJL2WvViLuiHS%2B2MWemUtx02aJhc1FULIwynNKhkbNCULjCL92ilNCMgdyh%2F7lnsHBVn9uDJ7isWnbiRovHlTCE8bmSBjqaAUq70obaqLh%2BfMtQyaDnD6GX6cXIXZWYhbazjOyfAc8uyLqjMAxi3kXkb8GErq%2FKp30lWd1UjQmjRILM3%2B2MjmqZ7HLRtmP2GD%2FuNvrcq%2FXsz9uMiqGgJWUR4hWrGFw8opPpbxqx30THMyIBN6nqNh3H8%2FMGpipzhOK8%2Fdv52LDF980ZjORvc0PxxHkHTrQKeEzyo45wbgXMQo4%3D&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=a6d33b9ddaabb8030ae5701d37e02f9bcaa97db49f0924470ab66129f8297cf1"},{"description":"Business Registration Proof","file_name":"busRegProof.png","id":"8a5b8001-664f-4f5f-92bc-6073f34b04a8","name":"Business Registration Proof","proof_type":"Business","tag":"","type":"Other","url":"https://kyb-service-staging-red.s3.ap-southeast-1.amazonaws.com/8a94b1f7-511d-4412-8df4-72e690978783/busRegProof.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAQKC7OY4N2DLCMF7T%2F20220407%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220407T060227Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEB4aDmFwLXNvdXRoZWFzdC0xIkcwRQIgS%2FGNwObUyGZovDqhqgVEzP9%2BZGbmBsieOGVBT%2BHB9%2FICIQD2FBiraluTJfv3GBv%2Fjrlr5Qv4i6rIeipL8bkWEkGFaiq1Agi3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAEaDDAyMTY3NTAzNDM5NSIMnOdfCtTSDykA8yNIKokCOMS0kqAse2jdjHVPK%2BU%2FG0eET30SbhCwmrGuBqQQt54TJW%2BDgO8TQU47y3bFfiwszSgnQcDrjqVQGJhXUewdrd7Lhg6CFg51CXVrm6tSOZE9Cv2jlSW2UaRMA2e5CAAjzZX%2BqufVwLrH1xNAoI53OVI%2B7fDrTCopr2p6GfV2t7rvqHjZFvWbJoHetneqkZnY9i6Ze6oQGGC6BP96vGa3ETKmX%2FVFn2WeLrYVByp95gAwGgpwVswAO1N1DzYUp%2FWzlq%2B89%2BlVr%2BMAwRJL2WvViLuiHS%2B2MWemUtx02aJhc1FULIwynNKhkbNCULjCL92ilNCMgdyh%2F7lnsHBVn9uDJ7isWnbiRovHlTCE8bmSBjqaAUq70obaqLh%2BfMtQyaDnD6GX6cXIXZWYhbazjOyfAc8uyLqjMAxi3kXkb8GErq%2FKp30lWd1UjQmjRILM3%2B2MjmqZ7HLRtmP2GD%2FuNvrcq%2FXsz9uMiqGgJWUR4hWrGFw8opPpbxqx30THMyIBN6nqNh3H8%2FMGpipzhOK8%2Fdv52LDF980ZjORvc0PxxHkHTrQKeEzyo45wbgXMQo4%3D&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=fe01c81102d5352d8e05dfd30469c576d185b1e2897022b0a6f79f4ff922f3db"}],"id":"ffc819e7-461d-43a5-a3df-636f7c089099","incorporation_no":"GST-2344566","name":"india mart api integration","same_operating_address":false,"state":"TamilNadu","years_in_business":"","zip_code":"600069"},"entity_name":"Company","owner":[{"address_line_1":"add 1","address_line_2":"add 2","city":"Chennai","contact_code":"+91","country":"India","dob":"","documents":[{"description":"representative passport","file_name":"passportback.jpg","id":"64585dcc-da65-4393-9e90-25d991bf3d8f","name":"Address proof","proof_type":"Identity","tag":"identityProofTypeBackDoc","type":"Passport","url":"https://kyb-service-staging-red.s3.ap-southeast-1.amazonaws.com/8a94b1f7-511d-4412-8df4-72e690978783/passportback.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAQKC7OY4N2DLCMF7T%2F20220407%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220407T060227Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEB4aDmFwLXNvdXRoZWFzdC0xIkcwRQIgS%2FGNwObUyGZovDqhqgVEzP9%2BZGbmBsieOGVBT%2BHB9%2FICIQD2FBiraluTJfv3GBv%2Fjrlr5Qv4i6rIeipL8bkWEkGFaiq1Agi3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAEaDDAyMTY3NTAzNDM5NSIMnOdfCtTSDykA8yNIKokCOMS0kqAse2jdjHVPK%2BU%2FG0eET30SbhCwmrGuBqQQt54TJW%2BDgO8TQU47y3bFfiwszSgnQcDrjqVQGJhXUewdrd7Lhg6CFg51CXVrm6tSOZE9Cv2jlSW2UaRMA2e5CAAjzZX%2BqufVwLrH1xNAoI53OVI%2B7fDrTCopr2p6GfV2t7rvqHjZFvWbJoHetneqkZnY9i6Ze6oQGGC6BP96vGa3ETKmX%2FVFn2WeLrYVByp95gAwGgpwVswAO1N1DzYUp%2FWzlq%2B89%2BlVr%2BMAwRJL2WvViLuiHS%2B2MWemUtx02aJhc1FULIwynNKhkbNCULjCL92ilNCMgdyh%2F7lnsHBVn9uDJ7isWnbiRovHlTCE8bmSBjqaAUq70obaqLh%2BfMtQyaDnD6GX6cXIXZWYhbazjOyfAc8uyLqjMAxi3kXkb8GErq%2FKp30lWd1UjQmjRILM3%2B2MjmqZ7HLRtmP2GD%2FuNvrcq%2FXsz9uMiqGgJWUR4hWrGFw8opPpbxqx30THMyIBN6nqNh3H8%2FMGpipzhOK8%2Fdv52LDF980ZjORvc0PxxHkHTrQKeEzyo45wbgXMQo4%3D&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=2846f0e3ea6e9257d9595e008849afb87be501ab9bf341a74e6d818122bccb6e"},{"description":"representative passport","file_name":"passportfront.jpg","id":"c855e782-55ea-46af-ac44-fdc08365bfed","name":"Address proof","proof_type":"Identity","tag":"","type":"Passport","url":"https://kyb-service-staging-red.s3.ap-southeast-1.amazonaws.com/8a94b1f7-511d-4412-8df4-72e690978783/passportfront.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAQKC7OY4N2DLCMF7T%2F20220407%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220407T060227Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEB4aDmFwLXNvdXRoZWFzdC0xIkcwRQIgS%2FGNwObUyGZovDqhqgVEzP9%2BZGbmBsieOGVBT%2BHB9%2FICIQD2FBiraluTJfv3GBv%2Fjrlr5Qv4i6rIeipL8bkWEkGFaiq1Agi3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAEaDDAyMTY3NTAzNDM5NSIMnOdfCtTSDykA8yNIKokCOMS0kqAse2jdjHVPK%2BU%2FG0eET30SbhCwmrGuBqQQt54TJW%2BDgO8TQU47y3bFfiwszSgnQcDrjqVQGJhXUewdrd7Lhg6CFg51CXVrm6tSOZE9Cv2jlSW2UaRMA2e5CAAjzZX%2BqufVwLrH1xNAoI53OVI%2B7fDrTCopr2p6GfV2t7rvqHjZFvWbJoHetneqkZnY9i6Ze6oQGGC6BP96vGa3ETKmX%2FVFn2WeLrYVByp95gAwGgpwVswAO1N1DzYUp%2FWzlq%2B89%2BlVr%2BMAwRJL2WvViLuiHS%2B2MWemUtx02aJhc1FULIwynNKhkbNCULjCL92ilNCMgdyh%2F7lnsHBVn9uDJ7isWnbiRovHlTCE8bmSBjqaAUq70obaqLh%2BfMtQyaDnD6GX6cXIXZWYhbazjOyfAc8uyLqjMAxi3kXkb8GErq%2FKp30lWd1UjQmjRILM3%2B2MjmqZ7HLRtmP2GD%2FuNvrcq%2FXsz9uMiqGgJWUR4hWrGFw8opPpbxqx30THMyIBN6nqNh3H8%2FMGpipzhOK8%2Fdv52LDF980ZjORvc0PxxHkHTrQKeEzyo45wbgXMQo4%3D&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=d2952b48473fa6cde87796dee15670c966f8ee7134ca605670ffa80c8ca93a30"}],"email":"","first_name":"Thor","id":"e3662a1f-7b87-4caf-9e5a-52d1905e1ba2","last_name":"Odinson","mobile_number":"9090929229","nationality":"","ownership_percent":25,"ownership_status":false,"roles":["Shareholder"],"same_operating_address":false,"state":"TamilNadu","type":"Owner","website":"","zip_code":"600069"},{"address_line_1":"add 1","address_line_2":"add 2","city":"Chennai","contact_code":"+91","country":"India","dob":"","documents":[{"description":"representative passport","file_name":"passportback.jpg","id":"cecf3a7a-0c56-41f2-9124-4063d14869e1","name":"Address proof","proof_type":"Identity","tag":"identityProofTypeBackDoc","type":"Passport","url":"https://kyb-service-staging-red.s3.ap-southeast-1.amazonaws.com/8a94b1f7-511d-4412-8df4-72e690978783/passportback.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAQKC7OY4N2DLCMF7T%2F20220407%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220407T060227Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEB4aDmFwLXNvdXRoZWFzdC0xIkcwRQIgS%2FGNwObUyGZovDqhqgVEzP9%2BZGbmBsieOGVBT%2BHB9%2FICIQD2FBiraluTJfv3GBv%2Fjrlr5Qv4i6rIeipL8bkWEkGFaiq1Agi3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAEaDDAyMTY3NTAzNDM5NSIMnOdfCtTSDykA8yNIKokCOMS0kqAse2jdjHVPK%2BU%2FG0eET30SbhCwmrGuBqQQt54TJW%2BDgO8TQU47y3bFfiwszSgnQcDrjqVQGJhXUewdrd7Lhg6CFg51CXVrm6tSOZE9Cv2jlSW2UaRMA2e5CAAjzZX%2BqufVwLrH1xNAoI53OVI%2B7fDrTCopr2p6GfV2t7rvqHjZFvWbJoHetneqkZnY9i6Ze6oQGGC6BP96vGa3ETKmX%2FVFn2WeLrYVByp95gAwGgpwVswAO1N1DzYUp%2FWzlq%2B89%2BlVr%2BMAwRJL2WvViLuiHS%2B2MWemUtx02aJhc1FULIwynNKhkbNCULjCL92ilNCMgdyh%2F7lnsHBVn9uDJ7isWnbiRovHlTCE8bmSBjqaAUq70obaqLh%2BfMtQyaDnD6GX6cXIXZWYhbazjOyfAc8uyLqjMAxi3kXkb8GErq%2FKp30lWd1UjQmjRILM3%2B2MjmqZ7HLRtmP2GD%2FuNvrcq%2FXsz9uMiqGgJWUR4hWrGFw8opPpbxqx30THMyIBN6nqNh3H8%2FMGpipzhOK8%2Fdv52LDF980ZjORvc0PxxHkHTrQKeEzyo45wbgXMQo4%3D&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=2846f0e3ea6e9257d9595e008849afb87be501ab9bf341a74e6d818122bccb6e"},{"description":"representative passport","file_name":"passportfront.jpg","id":"b24eae25-c3f2-4fe3-a502-802292c40fcf","name":"Address proof","proof_type":"Identity","tag":"identityProofTypeFrontDoc","type":"Passport","url":"https://kyb-service-staging-red.s3.ap-southeast-1.amazonaws.com/8a94b1f7-511d-4412-8df4-72e690978783/passportfront.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAQKC7OY4N2DLCMF7T%2F20220407%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220407T060227Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEB4aDmFwLXNvdXRoZWFzdC0xIkcwRQIgS%2FGNwObUyGZovDqhqgVEzP9%2BZGbmBsieOGVBT%2BHB9%2FICIQD2FBiraluTJfv3GBv%2Fjrlr5Qv4i6rIeipL8bkWEkGFaiq1Agi3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAEaDDAyMTY3NTAzNDM5NSIMnOdfCtTSDykA8yNIKokCOMS0kqAse2jdjHVPK%2BU%2FG0eET30SbhCwmrGuBqQQt54TJW%2BDgO8TQU47y3bFfiwszSgnQcDrjqVQGJhXUewdrd7Lhg6CFg51CXVrm6tSOZE9Cv2jlSW2UaRMA2e5CAAjzZX%2BqufVwLrH1xNAoI53OVI%2B7fDrTCopr2p6GfV2t7rvqHjZFvWbJoHetneqkZnY9i6Ze6oQGGC6BP96vGa3ETKmX%2FVFn2WeLrYVByp95gAwGgpwVswAO1N1DzYUp%2FWzlq%2B89%2BlVr%2BMAwRJL2WvViLuiHS%2B2MWemUtx02aJhc1FULIwynNKhkbNCULjCL92ilNCMgdyh%2F7lnsHBVn9uDJ7isWnbiRovHlTCE8bmSBjqaAUq70obaqLh%2BfMtQyaDnD6GX6cXIXZWYhbazjOyfAc8uyLqjMAxi3kXkb8GErq%2FKp30lWd1UjQmjRILM3%2B2MjmqZ7HLRtmP2GD%2FuNvrcq%2FXsz9uMiqGgJWUR4hWrGFw8opPpbxqx30THMyIBN6nqNh3H8%2FMGpipzhOK8%2Fdv52LDF980ZjORvc0PxxHkHTrQKeEzyo45wbgXMQo4%3D&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=d2952b48473fa6cde87796dee15670c966f8ee7134ca605670ffa80c8ca93a30"}],"email":"","first_name":"Tony","id":"86ba71cc-282f-4fd3-93ee-823915678c72","last_name":"Stark","mobile_number":"9090929229","nationality":"","ownership_percent":25,"ownership_status":false,"roles":["Shareholder"],"same_operating_address":false,"state":"TamilNadu","type":"Owner","website":"","zip_code":"600069"}],"representative":{"address_line_1":"sub 1","address_line_2":"sub 2","city":"Chennai","contact_code":"+91","country":"India","dob":"","documents":[{"description":"representative passport","file_name":"passportback.jpg","id":"e7cf4b91-e3a7-4a4f-86d6-305ae76c65e6","name":"Address proof","proof_type":"Identity","tag":"identityProofTypeBackDoc","type":"Passport","url":"https://kyb-service-staging-red.s3.ap-southeast-1.amazonaws.com/8a94b1f7-511d-4412-8df4-72e690978783/passportback.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAQKC7OY4N2DLCMF7T%2F20220407%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220407T060227Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEB4aDmFwLXNvdXRoZWFzdC0xIkcwRQIgS%2FGNwObUyGZovDqhqgVEzP9%2BZGbmBsieOGVBT%2BHB9%2FICIQD2FBiraluTJfv3GBv%2Fjrlr5Qv4i6rIeipL8bkWEkGFaiq1Agi3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAEaDDAyMTY3NTAzNDM5NSIMnOdfCtTSDykA8yNIKokCOMS0kqAse2jdjHVPK%2BU%2FG0eET30SbhCwmrGuBqQQt54TJW%2BDgO8TQU47y3bFfiwszSgnQcDrjqVQGJhXUewdrd7Lhg6CFg51CXVrm6tSOZE9Cv2jlSW2UaRMA2e5CAAjzZX%2BqufVwLrH1xNAoI53OVI%2B7fDrTCopr2p6GfV2t7rvqHjZFvWbJoHetneqkZnY9i6Ze6oQGGC6BP96vGa3ETKmX%2FVFn2WeLrYVByp95gAwGgpwVswAO1N1DzYUp%2FWzlq%2B89%2BlVr%2BMAwRJL2WvViLuiHS%2B2MWemUtx02aJhc1FULIwynNKhkbNCULjCL92ilNCMgdyh%2F7lnsHBVn9uDJ7isWnbiRovHlTCE8bmSBjqaAUq70obaqLh%2BfMtQyaDnD6GX6cXIXZWYhbazjOyfAc8uyLqjMAxi3kXkb8GErq%2FKp30lWd1UjQmjRILM3%2B2MjmqZ7HLRtmP2GD%2FuNvrcq%2FXsz9uMiqGgJWUR4hWrGFw8opPpbxqx30THMyIBN6nqNh3H8%2FMGpipzhOK8%2Fdv52LDF980ZjORvc0PxxHkHTrQKeEzyo45wbgXMQo4%3D&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=2846f0e3ea6e9257d9595e008849afb87be501ab9bf341a74e6d818122bccb6e"},{"description":"representative passport","file_name":"passportback.jpg","id":"61fde069-99ee-4266-9066-9e6f06907564","name":"Address proof","proof_type":"Identity","tag":"identityProofTypeFrontDoc","type":"Passport","url":"https://kyb-service-staging-red.s3.ap-southeast-1.amazonaws.com/8a94b1f7-511d-4412-8df4-72e690978783/passportback.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAQKC7OY4N2DLCMF7T%2F20220407%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220407T060227Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEB4aDmFwLXNvdXRoZWFzdC0xIkcwRQIgS%2FGNwObUyGZovDqhqgVEzP9%2BZGbmBsieOGVBT%2BHB9%2FICIQD2FBiraluTJfv3GBv%2Fjrlr5Qv4i6rIeipL8bkWEkGFaiq1Agi3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAEaDDAyMTY3NTAzNDM5NSIMnOdfCtTSDykA8yNIKokCOMS0kqAse2jdjHVPK%2BU%2FG0eET30SbhCwmrGuBqQQt54TJW%2BDgO8TQU47y3bFfiwszSgnQcDrjqVQGJhXUewdrd7Lhg6CFg51CXVrm6tSOZE9Cv2jlSW2UaRMA2e5CAAjzZX%2BqufVwLrH1xNAoI53OVI%2B7fDrTCopr2p6GfV2t7rvqHjZFvWbJoHetneqkZnY9i6Ze6oQGGC6BP96vGa3ETKmX%2FVFn2WeLrYVByp95gAwGgpwVswAO1N1DzYUp%2FWzlq%2B89%2BlVr%2BMAwRJL2WvViLuiHS%2B2MWemUtx02aJhc1FULIwynNKhkbNCULjCL92ilNCMgdyh%2F7lnsHBVn9uDJ7isWnbiRovHlTCE8bmSBjqaAUq70obaqLh%2BfMtQyaDnD6GX6cXIXZWYhbazjOyfAc8uyLqjMAxi3kXkb8GErq%2FKp30lWd1UjQmjRILM3%2B2MjmqZ7HLRtmP2GD%2FuNvrcq%2FXsz9uMiqGgJWUR4hWrGFw8opPpbxqx30THMyIBN6nqNh3H8%2FMGpipzhOK8%2Fdv52LDF980ZjORvc0PxxHkHTrQKeEzyo45wbgXMQo4%3D&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=2846f0e3ea6e9257d9595e008849afb87be501ab9bf341a74e6d818122bccb6e"}],"email":"","first_name":"Steve","id":"3eb94fa6-ffce-40be-924a-02e2b77bdeb3","last_name":"Rogers","mobile_number":"9090929229","nationality":"","ownership_percent":50,"ownership_status":false,"roles":["Director"],"same_operating_address":false,"state":"TamilNadu","type":"Representative","website":"","zip_code":"600069"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\"status\": \"success\",\n    \"message\": \"kyb application updated successfully\",\n    \"data\": {\n        \"application_id\": \"a01d242d-8860-4b67-9632-0ff51a1bb3c7\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"kyb application updated successfully"},"data":{"type":"object","properties":{"application_id":{"type":"string","example":"a01d242d-8860-4b67-9632-0ff51a1bb3c7"}}}}}}}}},"deprecated":false},"get":{"summary":"Get KYB by ID","description":"","operationId":"get-kyb-by-id-api","parameters":[{"name":"id","in":"path","description":"UUID of the KYB application for the user","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"data\": {\n        \"account_id\": \"78e2fde6-a3bb-410c-99b7-56773fea7da8\",\n        \"application_state\": \"not_started\",\n        \"entity_name\": \"Company\",\n        \"application_type\": \"Business\",\n        \"business\": {\n            \"id\": \"f891cc0e-cfba-41c4-9e82-fdc702fd2564\",\n            \"name\": \"api integration v2\",\n            \"type\": null,\n            \"same_operating_address\": false,\n            \"incorporation_no\": \"GST-2344566\",\n            \"address_line_1\": \"Block.1, abc\",\n            \"address_line_2\": \"XYZ area\",\n            \"city\": \"Chennai\",\n            \"state\": \"TamilNadu\",\n            \"country\": \"India\",\n            \"zip_code\": \"600069\",\n            \"entity_type\": \"\",\n            \"entity_name\": null,\n            \"trading_name\": \"\",\n            \"category\": null,\n            \"sub_category\": \"\",\n            \"years_in_business\": \"\",\n            \"annual_turnover\": \"\",\n            \"website\": \"\",\n            \"date_of_incorporation\": null,\n            \"custom_attrs\": {\n                \"transaction_id\": \"123\"\n            },\n            \"documents\": [\n                {\n                    \"id\": \"438433c9-4ea9-40f9-a389-bea3bcf8f0f9\",\n                    \"proof_type\": \"Business\",\n                    \"type\": \"Other\",\n                    \"tag\": \"\",\n                    \"url\": \"https://kyb-service-sandbox.s3.ap-southeast-1.amazonaws.com/20c749d6-9341-4aa5-a363-80d17c15ee40/busRegProof.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA2WN5GPXZGDAL5QI4%2F20220412%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220412T105709Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDmFwLXNvdXRoZWFzdC0xIkcwRQIgMijR7GhzcAt0i7MqNemWxsTIHF5itgSDjrQV28LeqtsCIQDq3vorgnc1GaoirojCD0JmyIc%2F%2F5WU2q1u6aUncn8ooCqwAghEEAEaDDczNTM3MzA2NTcxNCIMqJOo%2FnvVmqN8PRF%2FKo0CYhr87f8NjP4hauvRDJdAicvTlUrHRXdUE%2FrKSPvSeGcwySt87PpBT7DsR9zZEjOlYyNwrrcZcIgaePfWYTlA4vY7Z1IV0uP%2F942EPp6w%2BPDh4%2FTWlMZcd2Ea2QTtSraa4OyusNY5fCfhMUUFSGjgZlosKDIVPSvkNBVFiRGFsuSTi9t7j8qZVKQ7pR1UcPB8Kpggl5sOXP8GatYMl3eCug10heN1ZWSM7DGquog7lsxaXgKoifb3iJCddA2pXeenrDN%2F%2F7MxbpGoI%2BxQOxzPVPMr%2BEAMR5wDd3HErDZCRe80R9Ks6wz36Q63z7LK2eTcakCXNclYbcfEpLXSt%2BHndZCsqxajO5d7qGR5zWcwhLbVkgY6mgFVofyEbG0egB8tflNPl1CKJRaExxzLR3zSZFiNRKfx1lTL64LK2j%2FxLn3%2BDguk3ncu3Gl5vd9hFgRagDern9t0yEvQul0x4jSHLqAmb39cNKKzvZvZGek4DAt%2FF4rYUqQ4qIuQs64tcWpoYF91LsniEqK9J9z53oh1EL7HgkbbvFbVnqbul19v7ypU1gdE2hFyRB0R%2FQq21HUP&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=1f13ebd761919eb14eeada032c05568c2f41f7a02db21a44bf6b7fa61552f62f\",\n                    \"file_name\": \"busRegProof.png\",\n                    \"name\": \"Business Registration Proof\",\n                    \"description\": \"Business Registration Proof\"\n                },\n                {\n                    \"id\": \"8166009f-c1d4-4a49-b37f-991dfaf97ab1\",\n                    \"proof_type\": \"Address\",\n                    \"type\": \"Other\",\n                    \"tag\": \"addressProofDoc\",\n                    \"url\": \"https://kyb-service-sandbox.s3.ap-southeast-1.amazonaws.com/20c749d6-9341-4aa5-a363-80d17c15ee40/busAddressProof.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA2WN5GPXZGDAL5QI4%2F20220412%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220412T105709Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDmFwLXNvdXRoZWFzdC0xIkcwRQIgMijR7GhzcAt0i7MqNemWxsTIHF5itgSDjrQV28LeqtsCIQDq3vorgnc1GaoirojCD0JmyIc%2F%2F5WU2q1u6aUncn8ooCqwAghEEAEaDDczNTM3MzA2NTcxNCIMqJOo%2FnvVmqN8PRF%2FKo0CYhr87f8NjP4hauvRDJdAicvTlUrHRXdUE%2FrKSPvSeGcwySt87PpBT7DsR9zZEjOlYyNwrrcZcIgaePfWYTlA4vY7Z1IV0uP%2F942EPp6w%2BPDh4%2FTWlMZcd2Ea2QTtSraa4OyusNY5fCfhMUUFSGjgZlosKDIVPSvkNBVFiRGFsuSTi9t7j8qZVKQ7pR1UcPB8Kpggl5sOXP8GatYMl3eCug10heN1ZWSM7DGquog7lsxaXgKoifb3iJCddA2pXeenrDN%2F%2F7MxbpGoI%2BxQOxzPVPMr%2BEAMR5wDd3HErDZCRe80R9Ks6wz36Q63z7LK2eTcakCXNclYbcfEpLXSt%2BHndZCsqxajO5d7qGR5zWcwhLbVkgY6mgFVofyEbG0egB8tflNPl1CKJRaExxzLR3zSZFiNRKfx1lTL64LK2j%2FxLn3%2BDguk3ncu3Gl5vd9hFgRagDern9t0yEvQul0x4jSHLqAmb39cNKKzvZvZGek4DAt%2FF4rYUqQ4qIuQs64tcWpoYF91LsniEqK9J9z53oh1EL7HgkbbvFbVnqbul19v7ypU1gdE2hFyRB0R%2FQq21HUP&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=d473c9ae9042bb7bf83b3e823af3f5f3d9b14e770dea26766077f62dd69b2b72\",\n                    \"file_name\": \"busAddressProof.png\",\n                    \"name\": \"Business Address Proof\",\n                    \"description\": \"Business Address Proof\"\n                }\n            ],\n            \"description\": \"\"\n        },\n        \"representative\": {\n            \"id\": \"ad44d3b3-b3a2-407f-9f98-d277b7e7142a\",\n            \"first_name\": \"Steve\",\n            \"last_name\": \"Rogers\",\n            \"same_operating_address\": false,\n            \"dob\": \"\",\n            \"address_line_1\": \"add 1\",\n            \"address_line_2\": \"add 2\",\n            \"city\": \"Chennai\",\n            \"state\": \"TamilNadu\",\n            \"country\": \"India\",\n            \"zip_code\": \"600069\",\n            \"mobile_number\": \"9090929229\",\n            \"nationality\": \"\",\n            \"ownership_percent\": 50,\n            \"ownership_status\": false,\n            \"type\": \"Representative\",\n            \"roles\": [],\n            \"documents\": [\n                {\n                    \"id\": \"bcdae991-83be-4f75-a09b-e61df815eba2\",\n                    \"proof_type\": \"Identity\",\n                    \"type\": \"Passport\",\n                    \"tag\": \"identityProofTypeFrontDoc\",\n                    \"url\": \"https://kyb-service-sandbox.s3.ap-southeast-1.amazonaws.com/20c749d6-9341-4aa5-a363-80d17c15ee40/passportback.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA2WN5GPXZGDAL5QI4%2F20220412%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220412T105709Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDmFwLXNvdXRoZWFzdC0xIkcwRQIgMijR7GhzcAt0i7MqNemWxsTIHF5itgSDjrQV28LeqtsCIQDq3vorgnc1GaoirojCD0JmyIc%2F%2F5WU2q1u6aUncn8ooCqwAghEEAEaDDczNTM3MzA2NTcxNCIMqJOo%2FnvVmqN8PRF%2FKo0CYhr87f8NjP4hauvRDJdAicvTlUrHRXdUE%2FrKSPvSeGcwySt87PpBT7DsR9zZEjOlYyNwrrcZcIgaePfWYTlA4vY7Z1IV0uP%2F942EPp6w%2BPDh4%2FTWlMZcd2Ea2QTtSraa4OyusNY5fCfhMUUFSGjgZlosKDIVPSvkNBVFiRGFsuSTi9t7j8qZVKQ7pR1UcPB8Kpggl5sOXP8GatYMl3eCug10heN1ZWSM7DGquog7lsxaXgKoifb3iJCddA2pXeenrDN%2F%2F7MxbpGoI%2BxQOxzPVPMr%2BEAMR5wDd3HErDZCRe80R9Ks6wz36Q63z7LK2eTcakCXNclYbcfEpLXSt%2BHndZCsqxajO5d7qGR5zWcwhLbVkgY6mgFVofyEbG0egB8tflNPl1CKJRaExxzLR3zSZFiNRKfx1lTL64LK2j%2FxLn3%2BDguk3ncu3Gl5vd9hFgRagDern9t0yEvQul0x4jSHLqAmb39cNKKzvZvZGek4DAt%2FF4rYUqQ4qIuQs64tcWpoYF91LsniEqK9J9z53oh1EL7HgkbbvFbVnqbul19v7ypU1gdE2hFyRB0R%2FQq21HUP&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=2fe4ddcb3fecd6a995d21d08a80bd99362724966248ce86b17cebe3da3d3c45d\",\n                    \"file_name\": \"passportback.jpg\",\n                    \"name\": \"Address proof\",\n                    \"description\": \"representative passport\"\n                },\n                {\n                    \"id\": \"f6c3d79b-ef49-4eca-a634-a5f9e4c70edc\",\n                    \"proof_type\": \"Identity\",\n                    \"type\": \"Passport\",\n                    \"tag\": \"identityProofTypeBackDoc\",\n                    \"url\": \"https://kyb-service-sandbox.s3.ap-southeast-1.amazonaws.com/20c749d6-9341-4aa5-a363-80d17c15ee40/passportback.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA2WN5GPXZGDAL5QI4%2F20220412%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220412T105709Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDmFwLXNvdXRoZWFzdC0xIkcwRQIgMijR7GhzcAt0i7MqNemWxsTIHF5itgSDjrQV28LeqtsCIQDq3vorgnc1GaoirojCD0JmyIc%2F%2F5WU2q1u6aUncn8ooCqwAghEEAEaDDczNTM3MzA2NTcxNCIMqJOo%2FnvVmqN8PRF%2FKo0CYhr87f8NjP4hauvRDJdAicvTlUrHRXdUE%2FrKSPvSeGcwySt87PpBT7DsR9zZEjOlYyNwrrcZcIgaePfWYTlA4vY7Z1IV0uP%2F942EPp6w%2BPDh4%2FTWlMZcd2Ea2QTtSraa4OyusNY5fCfhMUUFSGjgZlosKDIVPSvkNBVFiRGFsuSTi9t7j8qZVKQ7pR1UcPB8Kpggl5sOXP8GatYMl3eCug10heN1ZWSM7DGquog7lsxaXgKoifb3iJCddA2pXeenrDN%2F%2F7MxbpGoI%2BxQOxzPVPMr%2BEAMR5wDd3HErDZCRe80R9Ks6wz36Q63z7LK2eTcakCXNclYbcfEpLXSt%2BHndZCsqxajO5d7qGR5zWcwhLbVkgY6mgFVofyEbG0egB8tflNPl1CKJRaExxzLR3zSZFiNRKfx1lTL64LK2j%2FxLn3%2BDguk3ncu3Gl5vd9hFgRagDern9t0yEvQul0x4jSHLqAmb39cNKKzvZvZGek4DAt%2FF4rYUqQ4qIuQs64tcWpoYF91LsniEqK9J9z53oh1EL7HgkbbvFbVnqbul19v7ypU1gdE2hFyRB0R%2FQq21HUP&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=2fe4ddcb3fecd6a995d21d08a80bd99362724966248ce86b17cebe3da3d3c45d\",\n                    \"file_name\": \"passportback.jpg\",\n                    \"name\": \"Address proof\",\n                    \"description\": \"representative passport\"\n                }\n            ],\n            \"email\": \"\",\n            \"contact_code\": \"+91\",\n            \"website\": \"\"\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"data":{"type":"object","properties":{"account_id":{"type":"string","example":"78e2fde6-a3bb-410c-99b7-56773fea7da8"},"application_state":{"type":"string","example":"not_started"},"entity_name":{"type":"string","example":"Company"},"application_type":{"type":"string","example":"Business"},"business":{"type":"object","properties":{"id":{"type":"string","example":"f891cc0e-cfba-41c4-9e82-fdc702fd2564"},"name":{"type":"string","example":"api integration v2"},"type":{},"same_operating_address":{"type":"boolean","example":false,"default":true},"incorporation_no":{"type":"string","example":"GST-2344566"},"address_line_1":{"type":"string","example":"Block.1, abc"},"address_line_2":{"type":"string","example":"XYZ area"},"city":{"type":"string","example":"Chennai"},"state":{"type":"string","example":"TamilNadu"},"country":{"type":"string","example":"India"},"zip_code":{"type":"string","example":"600069"},"entity_type":{"type":"string","example":""},"entity_name":{},"trading_name":{"type":"string","example":""},"category":{},"sub_category":{"type":"string","example":""},"years_in_business":{"type":"string","example":""},"annual_turnover":{"type":"string","example":""},"website":{"type":"string","example":""},"date_of_incorporation":{},"custom_attrs":{"type":"object","properties":{"transaction_id":{"type":"string","example":"123"}}},"documents":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"438433c9-4ea9-40f9-a389-bea3bcf8f0f9"},"proof_type":{"type":"string","example":"Business"},"type":{"type":"string","example":"Other"},"tag":{"type":"string","example":""},"url":{"type":"string","example":"https://kyb-service-sandbox.s3.ap-southeast-1.amazonaws.com/20c749d6-9341-4aa5-a363-80d17c15ee40/busRegProof.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA2WN5GPXZGDAL5QI4%2F20220412%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220412T105709Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDmFwLXNvdXRoZWFzdC0xIkcwRQIgMijR7GhzcAt0i7MqNemWxsTIHF5itgSDjrQV28LeqtsCIQDq3vorgnc1GaoirojCD0JmyIc%2F%2F5WU2q1u6aUncn8ooCqwAghEEAEaDDczNTM3MzA2NTcxNCIMqJOo%2FnvVmqN8PRF%2FKo0CYhr87f8NjP4hauvRDJdAicvTlUrHRXdUE%2FrKSPvSeGcwySt87PpBT7DsR9zZEjOlYyNwrrcZcIgaePfWYTlA4vY7Z1IV0uP%2F942EPp6w%2BPDh4%2FTWlMZcd2Ea2QTtSraa4OyusNY5fCfhMUUFSGjgZlosKDIVPSvkNBVFiRGFsuSTi9t7j8qZVKQ7pR1UcPB8Kpggl5sOXP8GatYMl3eCug10heN1ZWSM7DGquog7lsxaXgKoifb3iJCddA2pXeenrDN%2F%2F7MxbpGoI%2BxQOxzPVPMr%2BEAMR5wDd3HErDZCRe80R9Ks6wz36Q63z7LK2eTcakCXNclYbcfEpLXSt%2BHndZCsqxajO5d7qGR5zWcwhLbVkgY6mgFVofyEbG0egB8tflNPl1CKJRaExxzLR3zSZFiNRKfx1lTL64LK2j%2FxLn3%2BDguk3ncu3Gl5vd9hFgRagDern9t0yEvQul0x4jSHLqAmb39cNKKzvZvZGek4DAt%2FF4rYUqQ4qIuQs64tcWpoYF91LsniEqK9J9z53oh1EL7HgkbbvFbVnqbul19v7ypU1gdE2hFyRB0R%2FQq21HUP&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=1f13ebd761919eb14eeada032c05568c2f41f7a02db21a44bf6b7fa61552f62f"},"file_name":{"type":"string","example":"busRegProof.png"},"name":{"type":"string","example":"Business Registration Proof"},"description":{"type":"string","example":"Business Registration Proof"}}}},"description":{"type":"string","example":""}}},"representative":{"type":"object","properties":{"id":{"type":"string","example":"ad44d3b3-b3a2-407f-9f98-d277b7e7142a"},"first_name":{"type":"string","example":"Steve"},"last_name":{"type":"string","example":"Rogers"},"same_operating_address":{"type":"boolean","example":false,"default":true},"dob":{"type":"string","example":""},"address_line_1":{"type":"string","example":"add 1"},"address_line_2":{"type":"string","example":"add 2"},"city":{"type":"string","example":"Chennai"},"state":{"type":"string","example":"TamilNadu"},"country":{"type":"string","example":"India"},"zip_code":{"type":"string","example":"600069"},"mobile_number":{"type":"string","example":"9090929229"},"nationality":{"type":"string","example":""},"ownership_percent":{"type":"integer","example":50,"default":0},"ownership_status":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"Representative"},"roles":{"type":"array"},"documents":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"bcdae991-83be-4f75-a09b-e61df815eba2"},"proof_type":{"type":"string","example":"Identity"},"type":{"type":"string","example":"Passport"},"tag":{"type":"string","example":"identityProofTypeFrontDoc"},"url":{"type":"string","example":"https://kyb-service-sandbox.s3.ap-southeast-1.amazonaws.com/20c749d6-9341-4aa5-a363-80d17c15ee40/passportback.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA2WN5GPXZGDAL5QI4%2F20220412%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20220412T105709Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDmFwLXNvdXRoZWFzdC0xIkcwRQIgMijR7GhzcAt0i7MqNemWxsTIHF5itgSDjrQV28LeqtsCIQDq3vorgnc1GaoirojCD0JmyIc%2F%2F5WU2q1u6aUncn8ooCqwAghEEAEaDDczNTM3MzA2NTcxNCIMqJOo%2FnvVmqN8PRF%2FKo0CYhr87f8NjP4hauvRDJdAicvTlUrHRXdUE%2FrKSPvSeGcwySt87PpBT7DsR9zZEjOlYyNwrrcZcIgaePfWYTlA4vY7Z1IV0uP%2F942EPp6w%2BPDh4%2FTWlMZcd2Ea2QTtSraa4OyusNY5fCfhMUUFSGjgZlosKDIVPSvkNBVFiRGFsuSTi9t7j8qZVKQ7pR1UcPB8Kpggl5sOXP8GatYMl3eCug10heN1ZWSM7DGquog7lsxaXgKoifb3iJCddA2pXeenrDN%2F%2F7MxbpGoI%2BxQOxzPVPMr%2BEAMR5wDd3HErDZCRe80R9Ks6wz36Q63z7LK2eTcakCXNclYbcfEpLXSt%2BHndZCsqxajO5d7qGR5zWcwhLbVkgY6mgFVofyEbG0egB8tflNPl1CKJRaExxzLR3zSZFiNRKfx1lTL64LK2j%2FxLn3%2BDguk3ncu3Gl5vd9hFgRagDern9t0yEvQul0x4jSHLqAmb39cNKKzvZvZGek4DAt%2FF4rYUqQ4qIuQs64tcWpoYF91LsniEqK9J9z53oh1EL7HgkbbvFbVnqbul19v7ypU1gdE2hFyRB0R%2FQq21HUP&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22%22&X-Amz-Signature=2fe4ddcb3fecd6a995d21d08a80bd99362724966248ce86b17cebe3da3d3c45d"},"file_name":{"type":"string","example":"passportback.jpg"},"name":{"type":"string","example":"Address proof"},"description":{"type":"string","example":"representative passport"}}}},"email":{"type":"string","example":""},"contact_code":{"type":"string","example":"+91"},"website":{"type":"string","example":""}}}}}}}}}}},"deprecated":false}},"/v2/kyb/verified?account_id={account_id}":{"get":{"summary":"KYB Status","description":"","operationId":"kyb-status-api","parameters":[{"name":"account_id","in":"path","schema":{"type":"string"},"required":true}],"deprecated":false}},"/v1/metadata/kyb/doc":{"get":{"summary":"KYB Docs Required by Country","description":"This allows you to list the docs required for verifying the KYB of an User based on country.","operationId":"kyb-docs-required-by-country-api","parameters":[{"name":"country","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"data\": {\n        \"kyb_proof_document\": [\n            {\n                \"name\": \"Driver's License\",\n                \"type\": \"identity\"\n            },\n            {\n                \"name\": \"National ID\",\n                \"type\": \"identity\"\n            },\n            {\n                \"name\": \"Passport\",\n                \"type\": \"identity\"\n            },\n            {\n                \"name\": \"Other\",\n                \"type\": \"identity\"\n            },\n            {\n                \"name\": \"Driver's License\",\n                \"type\": \"address\"\n            },\n            {\n                \"name\": \"National ID\",\n                \"type\": \"address\"\n            },\n            {\n                \"name\": \"Passport\",\n                \"type\": \"address\"\n            },\n            {\n                \"name\": \"Other\",\n                \"type\": \"address\"\n            }\n        ]\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"data":{"type":"object","properties":{"kyb_proof_document":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Driver's License"},"type":{"type":"string","example":"identity"}}}}}}}}}}}},"deprecated":false}},"/v1/escrow":{"post":{"summary":"Create Escrow","description":"Creates an escrow between two parties","operationId":"create-escrow-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["initiated_by","buyer_id","seller_id","txn_description","invoice_currency","invoice_amount"],"properties":{"txn_type":{"type":"string","description":"Type of transaction. Can be: `goods`, `service`. If empty; contracted MP level value will get applied","default":"goods","enum":["goods","service"]},"release_mechanism":{"type":"string","description":"Party responsible for verifying the release documents. Can be: `marketplace`, `tazapay`. If empty; contracted MP level value will get applied","enum":["marketplace","tazapay"]},"reference_id":{"type":"string","description":"Marketplace identifier value. Example, marketplace escrow number, auto generated value, etc."},"initiated_by":{"type":"string","description":"Tazapay account UUID of the party who has initiated the transaction"},"buyer_id":{"type":"string","description":"Tazapay account UUID of the buyer"},"seller_id":{"type":"string","description":"Tazapay account UUID of the seller"},"txn_description":{"type":"string","description":"A short description of the underlying transaction or trade to be displayed on the redirection screen"},"txn_docs":{"type":"array","description":"Supporting documents for transaction.","items":{"properties":{"type":{"type":"string","description":"One of 'Proforma Invoice' , 'Purchase Order', 'Others'","enum":["Proforma Invoice","Purchase Order","Others"]},"name":{"type":"string","description":"Required if \"type\":\"Others\"","default":"example - Order Form"},"url":{"type":"string","description":"Direct download link"}},"required":["type","url"],"type":"object"}},"attributes":{"type":"string","description":"Tunnelled add-on fields","format":"json"},"invoice_currency":{"type":"string","description":"Invoice currency, ISO 4217 standard specifies three-letter (\"Alpha-3\") codes. e.g. USD"},"invoice_amount":{"type":"number","description":"Invoice amount","format":"float"},"shipping_details":{"type":"object","description":"Shipping Details","properties":{"name":{"type":"string","description":"Name"},"address":{"type":"object","description":"Address","properties":{"line1":{"type":"string","description":"Address Line 1"},"line2":{"type":"string","description":"Address Line 2"},"city":{"type":"string","description":"Address city"},"state":{"type":"string","description":"Address state"},"country":{"type":"string","description":"Address country (Country (ISO 3166-1 alpha_2 country code, in lowercase)"},"postal_code":{"type":"string","description":"Postal Code"}}},"phone":{"type":"object","description":"Phone","properties":{"country_code":{"type":"string","description":"Calling country code (for example, '1' for United States, '91' for India)"},"number":{"type":"string","description":"Phone Number"}}}}},"billing_details":{"type":"object","description":"Billing Details","properties":{"name":{"type":"string","description":"Name"},"address":{"type":"object","description":"Address","properties":{"line1":{"type":"string","description":"Address Line 1"},"line2":{"type":"string","description":"Address Line 2"},"city":{"type":"string","description":"Address city"},"state":{"type":"string","description":"Address state"},"country":{"type":"string","description":"Address country (Country (ISO 3166-1 alpha_2 country code, in lowercase)"},"postal_code":{"type":"string","description":"Postal Code"}}},"phone":{"type":"object","description":"Phone","properties":{"country_code":{"type":"string","description":"Calling country code (for example, '1' for United States, '91' for India)"},"number":{"type":"string","description":"Phone Number"}}}}},"fee_paid_by":{"type":"string","description":"Party that bears the fee for the transaction. Can be: `buyer` or `seller`. If empty; contracted MP level value will get applied","enum":["buyer","seller"]},"fee_percentage":{"type":"number","description":"If the fee is to be split between the buyer and seller, pass the percentage split to be paid by the entity passed above. E.g. if fee_paid_by is `buyer` and fee_percentage is 40%, 60% of the remaining fee will need to be paid by the seller.","format":"float"},"flat_fee":{"type":"object","description":"Fix fee charged by marketplace in addition to arrange for services such as logistics, inspection, etc. from their end. This is a separate fee from `fee_paid_by` & `fee_percentage`.","required":["amount","label","paid_by"],"properties":{"amount":{"type":"number","description":"Amount in invoice currency","format":"float"},"label":{"type":"string","description":"Flat fee description that will be shown to the customer, e.g., ‘Shipping Fee’"},"paid_by":{"type":"string","description":"Party that bears the fee for the transaction","enum":["buyer","seller"]},"fee_percentage":{"type":"number","description":"If the fee is to be split between the buyer and seller, pass the percentage of split to be paid by the entity passed above. E.g. if fee_paid_by is \"buyer\" and fee_percentage is 40%, 60% of the remaining fee will need to be paid by the seller","format":"float"}}},"fee_tier":{"type":"string","description":"Applicable fee tier. If empty, contracted MP level \"standard\" tier property will be used"},"release_docs":{"type":"array","description":"The list of documents to be provided as completion proof for the verification.","items":{"properties":{"type":{"type":"string","description":"If txn_type is 'goods' then one of 'Commercial Invoice', 'Bill of Lading/ Airway Bill', or 'Others'; if txn_type is 'service' then one of 'Invoice', 'Proof of Service Delivery', or 'Others'"},"name":{"type":"string","description":"required; if type='Others'","default":"example: Packing List"}},"required":["type"],"type":"object"}},"milestone_scheme":{"type":"string","description":"The scheme code that is set by you. If empty, the transaction is considered as the default scheme of 100% payment and 100% payout"},"callback_url":{"type":"string","description":"(Backend) URL on your server where Tazapay sends webhooks. Useful for asynchronous payments where we can send updates on payment statuses."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"message\": \"escrow created successfully\",\n    \"data\": {\n        \"txn_no\": \"2303-996577\",\n        \"state\": \"Awaiting_Payment\",\n        \"sub_state\": \"Generic\",\n        \"txn_type\": \"goods\",\n        \"invoice_currency\": \"USD\",\n        \"invoice_amount\": 1000,\n        \"fee_tier\": \"standard\",\n        \"fee_paid_by\": \"buyer\",\n        \"fee_tier_percentage\": 0,\n        \"fee_amount\": 0,\n        \"collect_amount\": 1010,\n        \"disburse_amount\": 1000,\n        \"flat_fee\": {\n            \"amount\": 10,\n            \"label\": \"TEST-LABEL\",\n            \"paid_by\": \"buyer\",\n            \"payer_percentage\": 100\n        },\n        \"transcation_source\": \"api\",\n        \"billing_details\": {\n            \"name\": \"\",\n            \"address\": {\n                \"line1\": \"\",\n                \"line2\": \"\",\n                \"postal_code\": \"\",\n                \"city\": \"\",\n                \"state\": \"\",\n                \"country\": \"\"\n            },\n            \"phone\": {\n                \"country_code\": \"\",\n                \"number\": \"\"\n            }\n        },\n        \"shipping_details\": {\n            \"name\": \"\",\n            \"address\": {\n                \"line1\": \"\",\n                \"line2\": \"\",\n                \"postal_code\": \"\",\n                \"city\": \"\",\n                \"state\": \"\",\n                \"country\": \"\"\n            },\n            \"phone\": {\n                \"country_code\": \"\",\n                \"number\": \"\"\n            }\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"escrow created successfully"},"data":{"type":"object","properties":{"txn_no":{"type":"string","example":"2303-996577"},"state":{"type":"string","example":"Awaiting_Payment"},"sub_state":{"type":"string","example":"Generic"},"txn_type":{"type":"string","example":"goods"},"invoice_currency":{"type":"string","example":"USD"},"invoice_amount":{"type":"integer","example":1000,"default":0},"fee_tier":{"type":"string","example":"standard"},"fee_paid_by":{"type":"string","example":"buyer"},"fee_tier_percentage":{"type":"integer","example":0,"default":0},"fee_amount":{"type":"integer","example":0,"default":0},"collect_amount":{"type":"integer","example":1010,"default":0},"disburse_amount":{"type":"integer","example":1000,"default":0},"flat_fee":{"type":"object","properties":{"amount":{"type":"integer","example":10,"default":0},"label":{"type":"string","example":"TEST-LABEL"},"paid_by":{"type":"string","example":"buyer"},"payer_percentage":{"type":"integer","example":100,"default":0}}},"transcation_source":{"type":"string","example":"api"},"billing_details":{"type":"object","properties":{"name":{"type":"string","example":""},"address":{"type":"object","properties":{"line1":{"type":"string","example":""},"line2":{"type":"string","example":""},"postal_code":{"type":"string","example":""},"city":{"type":"string","example":""},"state":{"type":"string","example":""},"country":{"type":"string","example":""}}},"phone":{"type":"object","properties":{"country_code":{"type":"string","example":""},"number":{"type":"string","example":""}}}}},"shipping_details":{"type":"object","properties":{"name":{"type":"string","example":""},"address":{"type":"object","properties":{"line1":{"type":"string","example":""},"line2":{"type":"string","example":""},"postal_code":{"type":"string","example":""},"city":{"type":"string","example":""},"state":{"type":"string","example":""},"country":{"type":"string","example":""}}},"phone":{"type":"object","properties":{"country_code":{"type":"string","example":""},"number":{"type":"string","example":""}}}}}}}}}}}}},"deprecated":false}},"/v1/escrow/{txn_no}/summary":{"get":{"summary":"Escrow Summary","description":"Returns the escrow object","operationId":"get-escrow-summary-1","parameters":[{"name":"txn_no","in":"path","description":"Represents a unique transaction. This is available in the response of the Create Escrow API","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"data\": {\n        \"state\": \"Awaiting_Payment\",\n        \"sub_state\": \"Generic\",\n        \"invoice_currency\": \"USD\",\n        \"fee_paid_by\": \"buyer\",\n        \"txn_type\": \"goods\",\n        \"txn_no\": \"2302-606650\",\n        \"txn_description\": \"1 x Luxury\",\n        \"release_mechanism\": \"tazapay\",\n        \"reference_id\": \"\",\n        \"initiated_by\": \"111a3879-f2e0-44ab-89a5-1aa395247c47\",\n        \"buyer_id\": \"a97c97c1-414b-4958-8347-746e685e6a9d\",\n        \"seller_id\": \"111a3879-f2e0-44ab-89a5-1aa395247c47\",\n        \"invoice_amount\": 200,\n        \"collect_amount\": 200,\n        \"disburse_amount\": 200,\n        \"fee_tier_percentage\": 0,\n        \"release_docs\": [],\n        \"txn_docs\": [\n            {\n                \"type\": \"Proforma Invoice\",\n                \"name\": \"Screenshot from 2022-01-17 20-41-22.png\",\n                \"url\": \"1677169757245242639_luxurious-nature-floral-leaf-ornament-600w-1938357313.jpg_Screenshot from 2022-01-17 20-41-22.png\"\n            }\n        ],\n        \"buyer\": {\n            \"contact_name\": \" \",\n            \"email\": \"egypt@tazapay.com\",\n            \"country\": \"EG\",\n            \"company_name\": \"John Doe\",\n            \"ind_bus_type\": \"Business\",\n            \"country_alpha2\": \"\"\n        },\n        \"seller\": {\n            \"contact_name\": \"hrithik aoaoawj\",\n            \"email\": \"hrithik+46161@tazapay.com\",\n            \"country\": \"IN\",\n            \"company_name\": \"HA\",\n            \"ind_bus_type\": \"Business\",\n            \"country_alpha2\": \"\"\n        },\n        \"attributes\": {\n            \"doc_url\": \"https://media.istockphoto.com/photos/historic-buildings-of-wall-street-in-the-financial-district-of-lower-picture-id1337246025?s=612x612\"\n        },\n        \"initiator_role\": \"seller\",\n        \"fee_amount\": 0,\n        \"billing_details\": {\n            \"name\": \"\",\n            \"address\": {\n                \"line1\": \"\",\n                \"line2\": \"\",\n                \"postal_code\": \"\",\n                \"city\": \"\",\n                \"state\": \"\",\n                \"country\": \"\"\n            },\n            \"phone\": {\n                \"country_code\": \"\",\n                \"number\": \"\"\n            }\n        },\n        \"shipping_details\": {\n            \"name\": \"\",\n            \"address\": {\n                \"line1\": \"\",\n                \"line2\": \"\",\n                \"postal_code\": \"\",\n                \"city\": \"\",\n                \"state\": \"\",\n                \"country\": \"\"\n            },\n            \"phone\": {\n                \"country_code\": \"\",\n                \"number\": \"\"\n            }\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"data":{"type":"object","properties":{"state":{"type":"string","example":"Awaiting_Payment"},"sub_state":{"type":"string","example":"Generic"},"invoice_currency":{"type":"string","example":"USD"},"fee_paid_by":{"type":"string","example":"buyer"},"txn_type":{"type":"string","example":"goods"},"txn_no":{"type":"string","example":"2302-606650"},"txn_description":{"type":"string","example":"1 x Luxury"},"release_mechanism":{"type":"string","example":"tazapay"},"reference_id":{"type":"string","example":""},"initiated_by":{"type":"string","example":"111a3879-f2e0-44ab-89a5-1aa395247c47"},"buyer_id":{"type":"string","example":"a97c97c1-414b-4958-8347-746e685e6a9d"},"seller_id":{"type":"string","example":"111a3879-f2e0-44ab-89a5-1aa395247c47"},"invoice_amount":{"type":"integer","example":200,"default":0},"collect_amount":{"type":"integer","example":200,"default":0},"disburse_amount":{"type":"integer","example":200,"default":0},"fee_tier_percentage":{"type":"integer","example":0,"default":0},"release_docs":{"type":"array"},"txn_docs":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"Proforma Invoice"},"name":{"type":"string","example":"Screenshot from 2022-01-17 20-41-22.png"},"url":{"type":"string","example":"1677169757245242639_luxurious-nature-floral-leaf-ornament-600w-1938357313.jpg_Screenshot from 2022-01-17 20-41-22.png"}}}},"buyer":{"type":"object","properties":{"contact_name":{"type":"string","example":" "},"email":{"type":"string","example":"egypt@tazapay.com"},"country":{"type":"string","example":"EG"},"company_name":{"type":"string","example":"John Doe"},"ind_bus_type":{"type":"string","example":"Business"},"country_alpha2":{"type":"string","example":""}}},"seller":{"type":"object","properties":{"contact_name":{"type":"string","example":"hrithik aoaoawj"},"email":{"type":"string","example":"hrithik+46161@tazapay.com"},"country":{"type":"string","example":"IN"},"company_name":{"type":"string","example":"HA"},"ind_bus_type":{"type":"string","example":"Business"},"country_alpha2":{"type":"string","example":""}}},"attributes":{"type":"object","properties":{"doc_url":{"type":"string","example":"https://media.istockphoto.com/photos/historic-buildings-of-wall-street-in-the-financial-district-of-lower-picture-id1337246025?s=612x612"}}},"initiator_role":{"type":"string","example":"seller"},"fee_amount":{"type":"integer","example":0,"default":0},"billing_details":{"type":"object","properties":{"name":{"type":"string","example":""},"address":{"type":"object","properties":{"line1":{"type":"string","example":""},"line2":{"type":"string","example":""},"postal_code":{"type":"string","example":""},"city":{"type":"string","example":""},"state":{"type":"string","example":""},"country":{"type":"string","example":""}}},"phone":{"type":"object","properties":{"country_code":{"type":"string","example":""},"number":{"type":"string","example":""}}}}},"shipping_details":{"type":"object","properties":{"name":{"type":"string","example":""},"address":{"type":"object","properties":{"line1":{"type":"string","example":""},"line2":{"type":"string","example":""},"postal_code":{"type":"string","example":""},"city":{"type":"string","example":""},"state":{"type":"string","example":""},"country":{"type":"string","example":""}}},"phone":{"type":"object","properties":{"country_code":{"type":"string","example":""},"number":{"type":"string","example":""}}}}}}}}}}}}},"deprecated":false}},"/v1/session/payment":{"post":{"summary":"Create Payment","description":"Generates payment links corresponding to an escrow for collection from the buyer","operationId":"create-payment-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["txn_no"],"properties":{"txn_no":{"type":"string","description":"Represents a unique transaction. Number received in Create Escrow API response"},"payment_methods":{"type":"array","description":"Specify payment methods for the transaction. The keyword for each payment method can be found using the <a href = \"https://docs.tazapay.com/reference/collection-methods-api\" target = \"_blank\">collection methods metadata API.</a> Click <a href = \"https://docs.tazapay.com/docs/managing-payment-methods\" target = \"_blank\">here</a> to learn more about managing payment methods.","items":{"type":"string"}},"complete_url":{"type":"string","description":"(Frontend) URL where the customer is redirected after a successful payment"},"error_url":{"type":"string","description":"(Frontend) URL where the customer is redirected in case of an error in the payment"},"callback_url":{"type":"string","description":"(Backend) URL on your server where Tazapay sends webhooks. Useful for asynchronous payments where we can send updates on payment statuses"},"filter":{"type":"array","description":"Specify payment methods which need to be filtered out (REMOVED) for the given transaction.","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"message\": \"payment session created successfully\",\n    \"data\": {\n        \"redirect_url\": \"https://sandbox.tazapay.com/marketplace/paymentdetails/yx-XutEJLCx0CmZy_D7KyAZrXKfBlPklPruzOZSFRoumPl0xcx0A8ccOSUfsDCjZ\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"payment session created successfully"},"data":{"type":"object","properties":{"redirect_url":{"type":"string","example":"https://sandbox.tazapay.com/marketplace/paymentdetails/yx-XutEJLCx0CmZy_D7KyAZrXKfBlPklPruzOZSFRoumPl0xcx0A8ccOSUfsDCjZ"}}}}}}}}},"deprecated":false}},"/v1/escrow/{txn_no}":{"get":{"summary":"Escrow Status","description":"Returns the status of an escrow. Know more about <a href = \"https://docs.tazapay.com/docs/escrow-object-states\" target=\"_blank\">escrow states and substates.</a>","operationId":"escrow-status-api","parameters":[{"name":"txn_no","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"data\": {\n        \"txn_no\": \"2207-448005\",\n        \"state\": \"Awaiting_Payment\",\n        \"sub_state\": \"Generic\",\n        \"invoice_currency\": \"USD\",\n        \"invoice_amount\": 500,\n        \"partner_reference_id\": \"\",\n        \"payment\": {\n            \"collection_method\": \"Local Bank Transfer\",\n            \"remarks\": \"Payment reset\",\n            \"payable_amount\": 500,\n            \"paid_amount\": 0,\n            \"collection_currency\": \"USD\",\n            \"fx_rate\": 1,\n            \"transaction_id\": \"8e21a4bd-61a7-4ce3-8cfb-9c13117440fe\"\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"data":{"type":"object","properties":{"txn_no":{"type":"string","example":"2207-448005"},"state":{"type":"string","example":"Awaiting_Payment"},"sub_state":{"type":"string","example":"Generic"},"invoice_currency":{"type":"string","example":"USD"},"invoice_amount":{"type":"integer","example":500,"default":0},"partner_reference_id":{"type":"string","example":""},"payment":{"type":"object","properties":{"collection_method":{"type":"string","example":"Local Bank Transfer"},"remarks":{"type":"string","example":"Payment reset"},"payable_amount":{"type":"integer","example":500,"default":0},"paid_amount":{"type":"integer","example":0,"default":0},"collection_currency":{"type":"string","example":"USD"},"fx_rate":{"type":"integer","example":1,"default":0},"transaction_id":{"type":"string","example":"8e21a4bd-61a7-4ce3-8cfb-9c13117440fe"}}}}}}}}}}},"deprecated":false}},"/v1/session/release":{"post":{"summary":"Initiate Release","description":"To release funds for a particular transaction to your bank account.","operationId":"release-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["txn_no"],"properties":{"txn_no":{"type":"string","description":"Represents a unique transaction. This is available in the response of the Create Escrow API."},"release_docs":{"type":"string","description":"Documents for verification before release of payment. A sample json can be found here: https://docs.tazapay.com/reference/release-intro","format":"json"},"callback_url":{"type":"string","description":"URL on your server to which Tazapay sends webhooks to."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"message\": \"release session created successfully\",\n    \"data\": {\n        \"reference_id\": \"c4766e09-c7a9-4954-b2d7-4f3e3eae065f\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"release session created successfully"},"data":{"type":"object","properties":{"reference_id":{"type":"string","example":"c4766e09-c7a9-4954-b2d7-4f3e3eae065f"}}}}}}}}},"deprecated":false}},"/v1/payment/refund/request":{"post":{"summary":"Initiate Refund","description":"To initiate a refund of an existing paid transaction back to source","operationId":"refund-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["txn_no"],"properties":{"txn_no":{"type":"string","description":"Represents a unique transaction. This is available in the response of the Create Escrow API"},"amount":{"type":"number","description":"Amount to be refunded. If omitted, the request will be registered for a refund of the full transaction amount","format":"float"},"callback_url":{"type":"string","description":"URL on your server to which Tazapay sends webhooks to intimating you of the refund status"},"remarks":{"type":"string","description":"Field to any additional detail
[...]
